# 1)  python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\programdata\anaconda2\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda2\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda2\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\programdata\anaconda2\lib\site-packages (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\programdata\anaconda2\lib\site-packages (from requests) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda2\lib\site-packages (from requests) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda2\lib\site-packages (from requests) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in c:\programdata\anaconda2\lib\site-packages (from requests) (2.10)

IMPORTING LIBRARIES

In [2]:
from bs4 import BeautifulSoup 
import requests
import pandas as pd
import numpy as np

SENDING REQUESTS TO THE WEBPAGE

In [3]:
page=requests.get('https://en.wikipedia.org/wiki/Main_Page?')
page

MODIFYING THE CONTENT IN SEQUENTIAL FORM

In [5]:
soup=BeautifulSoup(page.content)

DISPLAYING HEADER TAGS

In [7]:
soup=BeautifulSoup(page.text, 'html.parser')

In [8]:
story=soup.find_all(['h1','h2','h3','h4'])

for i in story:
    print(i)

<h1 class="firstHeading" id="firstHeading">Main Page</h1>
<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>
<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>
<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>
<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>
<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>
<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>
<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>
<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>
<h2>Navigation menu</h2>
<h3 class="vector-menu-heading" id="p-personal-label">
<span>Personal tools</span>
</h3>
<h3 class="vector-menu-heading" id="p-namespaces-label">
<span>Namespaces</span>
</h3>
<h3 class="vector-menu-heading" id="p-variants-label">
<span>Variants</span>
</h3>
<h3 class="vector-menu-heading" id="p-views-label">
<span>Views</span>
</h3>
<h3 class="vector-menu-heading" id="p-cactions-label">
<span>More</span>
</h3>
<h3>
<label for="searchInput">Search</label>
</h3>
<h3 class="vector-menu-heading" id="p-navigation-label">
<span>Navigation</span>
</h3>
<h3 class="vector-menu-heading" id="p-interaction-label">
<span>Contribute</span>
</h3>
<h3 class="vector-menu-heading" id="p-tb-label">
<span>Tools</span>
</h3>
<h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span>Print/export</span>
</h3>
<h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span>In other projects</span>
</h3>
<h3 class="vector-menu-heading" id="p-lang-label">
<span>Languages</span>
</h3>

In [9]:
print('all the header tags:', *story, sep='\n\n')

all the header tags:

<h1 class="firstHeading" id="firstHeading">Main Page</h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 class="vector-menu-heading" id="p-personal-label">
<span>Personal tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-namespaces-label">
<span>Namespaces</span>
</h3>

<h3 class="vector-menu-heading" id="p-variants-label">
<span>Variants</span>
</h3>

<h3 class="vector-menu-heading" id="p-views-label">
<span>Views</span>
</h3>

<h3 class="vector-menu-heading" id="p-cactions-label">
<span>More</span>
</h3>

<h3>
<label for="searchInput">Search</label>
</h3>

<h3 class="vector-menu-heading" id="p-navigation-label">
<span>Navigation</span>
</h3>

<h3 class="vector-menu-heading" id="p-interaction-label">
<span>Contribute</span>
</h3>

<h3 class="vector-menu-heading" id="p-tb-label">
<span>Tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span>Print/export</span>
</h3>

<h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span>In other projects</span>
</h3>

<h3 class="vector-menu-heading" id="p-lang-label">
<span>Languages</span>
</h3>

dispalying the header tags from website https://en.wikipedia.org/wiki/Main_Page

# 2) IMDB’s Top rated 100  movies

In [388]:
url='https://www.imdb.com/list/ls091520106/?sort=user_rating,desc&st_dt=&mode=detail&page=1'
response=requests.get(url)
soup=BeautifulSoup(response.content,'html.parser')

In [389]:
movie=[]
year=[]
rating=[]

In [390]:
movie_data=soup.findAll('div',class_='lister-item mode-detail')

In [391]:
for store in movie_data:
    name=store.h3.a.text
    movie.append(name)
    year_of_relese=store.h3.find('span', class_='lister-item-year text-muted unbold').text
    year.append(year_of_relese)
    rate=store.find('span', class_='ipl-rating-star__rating').text.replace('\n', '')
    rating.append(rate)

In [392]:
df_=pd.DataFrame({'Name of movie':movie,'Year of relese':year, 'Ratings':rating})

In [393]:
df_

                        Name of movie Year of relese Ratings
0            The Shawshank Redemption         (1994)     9.3
1                       The Godfather         (1972)     9.2
2                     The Dark Knight         (2008)       9
3              The Godfather: Part II         (1974)       9
4                        12 Angry Men         (1957)       9
..                                ...            ...     ...
95                            Vertigo         (1958)     8.3
96                 North by Northwest         (1959)     8.3
97                           Das Boot         (1981)     8.3
98  M - Eine Stadt sucht einen Mörder         (1931)     8.3
99                            The Kid         (1921)     8.3

[100 rows x 3 columns]

Here is the list of  IMDB’s Top rated 100 movies

In [16]:
#saving the list
import joblib
joblib.dump(df,'Movies_list.csv')

['Movies_list.csv']

# 3) IMDB’s Top rated 100 Indian movies

In [17]:
url='https://www.imdb.com/list/ls056092300/'
response=requests.get(url)
soup=BeautifulSoup(response.content,'html.parser')

In [18]:
movie=[]
year=[]
rating=[]

In [19]:
movie_data=soup.findAll('div',class_='lister-item mode-detail')

In [20]:
for store in movie_data:
    name=store.h3.a.text
    movie.append(name)
    year_of_relese=store.h3.find('span', class_='lister-item-year text-muted unbold').text
    year.append(year_of_relese)
    rate=store.find('span', class_='ipl-rating-star__rating').text.replace('\n', '')
    rating.append(rate)

In [21]:
df=pd.DataFrame({'Name of movie':movie,'Year of relese':year, 'Ratings':rating})

In [22]:
df

                        Name of movie Year of relese Ratings
0                     Ship of Theseus         (2012)     8.1
1                              Iruvar         (1997)     8.5
2                     Kaagaz Ke Phool         (1959)       8
3   Lagaan: Once Upon a Time in India         (2001)     8.1
4                     Pather Panchali         (1955)     8.6
..                                ...            ...     ...
95                        Apur Sansar         (1959)     8.5
96                        Kanchivaram         (2008)     8.1
97                    Monsoon Wedding         (2001)     7.4
98                              Black         (2005)     8.2
99                            Deewaar         (1975)     8.1

[100 rows x 3 columns]

Here is the list of IMDB’s Top rated 100 indian movies

In [23]:
#saving the list

#saving the list
import joblib
joblib.dump(df,'Indian_movies.csv')

['Indian_movies.csv']

# 4). 5 books from 
‘www.bookpage.com’

In [32]:
page=requests.get('https://bookpage.com/reviews')

page

In [214]:
soup=BeautifulSoup(page.content)

BOOKS TITLE

In [215]:
books=soup.find_all('h4',class_='italic')

In [52]:
books_name=[]
for i in books:
    books_name.append(i.text.replace('\n',''))
books_name[:5]

['You People',
 ' ★ Ship in a Bottle',
 'Tokyo Ever After',
 'The Kingdoms',
 'New Yorkers']

AUTHORS OF THE BOOK

In [216]:
books_author=soup.find_all('p',class_='sans bold')

In [54]:
books_authors=[]
for i in books_author:
    books_authors.append(i.text.replace('\n',''))
books_authors[:5]

['Nikita Lalwani',
 'Andrew Prahin',
 'Emiko Jean',
 'Natasha Pulley',
 'Craig Taylor, Cast']

GENRE OF THE BOOKS

In [217]:
genre=soup.find_all('p',class_='genre-links hidden-phone')

In [58]:
books_genre=[]
for i in genre:
    books_genre.append(i.text.replace('\n',''))
books_genre[:5]

['Fiction / Literary Fiction',
 "Children's / Children's Picture Book",
 'YA / YA Fiction',
 'Fiction / Speculative Fiction',
 'Audio / Nonfiction / Culture']

REVIEWS

In [218]:
book_review=soup.find_all('p',class_='excerpt')

In [60]:
Reviews=[]
for i in book_review:
    Reviews.append(i.text.replace('\n',''))
Reviews[:5]

["Nikita Lalwani's magical novel invites us to ponder generosity and human kindness.",
 '',
 '',
 'Natasha Pulley balances the topsy-turvy nature of time travel by grounding her story in naval history and a gradually unfolding queer love story.',
 '“This city barged into conversations,” Craig Taylor says about New Yorkers. With that kind of attitude, you’ll have no choice but to listen in.']

In [61]:
Books_data=pd.DataFrame({})
Books_data['Name']=books_name
Books_data['Authors']=books_authors
Books_data['Genre']=books_genre
Books_data['Reviews.']=Reviews

In [63]:
Books_data[:5]

,Name,Authors,Genre,Reviews.
0,You People,Nikita Lalwani,Fiction / Literary Fiction,Nikita Lalwani's magical novel invites us to p...
1,★ Ship in a Bottle,Andrew Prahin,Children's / Children's Picture Book,
2,Tokyo Ever After,Emiko Jean,YA / YA Fiction,
3,The Kingdoms,Natasha Pulley,Fiction / Speculative Fiction,Natasha Pulley balances the topsy-turvy nature...
4,New Yorkers,"Craig Taylor, Cast",Audio / Nonfiction / Culture,"“This city barged into conversations,” Craig T..."

Books data with Name ,authors ,Genre and Reviews

# 5.i) Top 10 ODI teams in men’s cricket teams

In [64]:
page=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

page

In [129]:
soup=BeautifulSoup(page.content)

TOP 10 ODI TEAMS

In [187]:
odi_teams=soup.find_all('span',class_='u-hide-phablet')

Teams=[]
for i in odi_teams:
    Teams.append(i.text.replace('\n',''))
Teams[:10]

['New Zealand',
 'Australia',
 'India',
 'England',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'West Indies',
 'Sri Lanka',
 'Afghanistan']

TOP 10 ODI TEAMS's MATCHES

In [188]:
odi_matches=soup.find_all('td',class_='table-body__cell u-center-text')

Matches=[]
for i in odi_matches:
    Matches.append(i.text.replace('\n',''))
Matches[:10]

['25', '2,945', '29', '3,344', '27', '3,100', '20', '2,137', '24', '2,323']


TOP 10 ODI TEAM's POINTS

In [182]:
odi_points=soup.find_all('td',class_='table-body__cell u-center-text')


Points=[]
for i in odi_points:
    Points.append(i.text.replace('\n',''))
Points[:10]

['25', '2,945', '29', '3,344', '27', '3,100', '20', '2,137', '24', '2,323']


TOP 10 ODI TEAM's RATINGS

In [183]:
odi_ratings=soup.find_all('td',class_='table-body__cell u-text-right rating')


Ratings=[]
for i in odi_ratings:
    Ratings.append(i.text.replace('\n',''))
Ratings[:10]

['118', '115', '115', '107', '97', '91', '82', '77', '62', '45']

TOP TEN ODI TEAMS DETAIL

In [184]:
TOP_TEAN_ODI_TABLE=pd.DataFrame({})
TOP_TEAN_ODI_TABLE['TEAMS']=odi_teams[:10]
TOP_TEAN_ODI_TABLE['MATCHES']=odi_matches[:10]
TOP_TEAN_ODI_TABLE['POINTS']=odi_points[:10]
TOP_TEAN_ODI_TABLE['RATINGS']=odi_ratings[:10]
TOP_TEAN_ODI_TABLE

            TEAMS  MATCHES   POINTS RATINGS
0   [New Zealand]     [25]     [25]   [118]
1     [Australia]  [2,945]  [2,945]   [115]
2         [India]     [29]     [29]   [115]
3       [England]  [3,344]  [3,344]   [107]
4  [South Africa]     [27]     [27]    [97]
5      [Pakistan]  [3,100]  [3,100]    [91]
6    [Bangladesh]     [20]     [20]    [82]
7   [West Indies]  [2,137]  [2,137]    [77]
8     [Sri Lanka]     [24]     [24]    [62]
9   [Afghanistan]  [2,323]  [2,323]    [45]

Top 10 odi cricket teams data

# 5.ii) Top 10 ODI Batsmen in men

In [374]:
page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')

page

In [375]:
soup=BeautifulSoup(page.content)

TOP 10 ODI BATSMAN

In [377]:
names=soup.find_all('td',class_='table-body__cell rankings-table__name name')
Names=[]
for i in names:
    Names.append(i.text.replace('\n',''))
Names[:10]

['Virat Kohli',
 'Rohit Sharma',
 'Ross Taylor',
 'Aaron Finch',
 'Jonny Bairstow',
 'Fakhar Zaman',
 'Francois du Plessis',
 'David Warner',
 'Shai Hope',
 'Quinton de Kock']

TOP 10 ODI TEAMS

In [378]:
teams=soup.find_all('td',class_='table-body__cell nationality-logo rankings-table__team')
Teams=[]
for i in teams:
    Teams.append(i.text.replace('\n',''))
Teams[:10]

['IND', 'IND', 'NZ', 'AUS', 'ENG', 'PAK', 'SA', 'AUS', 'WI', 'SA']

TOP 10 ODI TEMAS RATINGS

In [379]:
rating=soup.find_all('td',class_='table-body__cell rating')
Rating=[]
for i in rating:
    Rating.append(i.text.replace('\n',''))
Rating[:10]

['857', '825', '801', '791', '785', '778', '778', '773', '773', '756']

TOP 10 ODI MENS PLAYER DETAIL

In [380]:
TOP_TEAN_mens_TABLE=pd.DataFrame({})
TOP_TEAN_mens_TABLE['TEAMS']=names[:10]
TOP_TEAN_mens_TABLE['MATCHES']=teams[:10]

TOP_TEAN_mens_TABLE['RATINGS']=rating[:10]
TOP_TEAN_mens_TABLE

                             TEAMS                  MATCHES RATINGS
0          [\n, [Virat Kohli], \n]  [\n, [], \n, [IND], \n]   [857]
1         [\n, [Rohit Sharma], \n]  [\n, [], \n, [IND], \n]   [825]
2          [\n, [Ross Taylor], \n]   [\n, [], \n, [NZ], \n]   [801]
3          [\n, [Aaron Finch], \n]  [\n, [], \n, [AUS], \n]   [791]
4       [\n, [Jonny Bairstow], \n]  [\n, [], \n, [ENG], \n]   [785]
5         [\n, [Fakhar Zaman], \n]  [\n, [], \n, [PAK], \n]   [778]
6  [\n, [Francois du Plessis], \n]   [\n, [], \n, [SA], \n]   [778]
7         [\n, [David Warner], \n]  [\n, [], \n, [AUS], \n]   [773]
8            [\n, [Shai Hope], \n]   [\n, [], \n, [WI], \n]   [773]
9      [\n, [Quinton de Kock], \n]   [\n, [], \n, [SA], \n]   [756]

Top 10 odi mens cricket batting data.

# 5.iii) Top 10 ODI bowlers

In [239]:
page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')

page

In [240]:
soup=BeautifulSoup(page.content)

TOP 10 ODI BOWLERS

In [241]:
Names=soup.find_all('td',class_='table-body__cell rankings-table__name name')
names=[]
for i in Names:
    names.append(i.text.replace('\n',''))
names[:10]

['Mujeeb Ur Rahman',
 'Matt Henry',
 'Jasprit Bumrah',
 'Mehedi Hasan',
 'Kagiso Rabada',
 'Chris Woakes',
 'Josh Hazlewood',
 'Pat Cummins',
 'Mohammad Amir',
 'Shaheen Afridi']

TOP 10 ODI BOWLER's TEAM

In [242]:
teams=soup.find_all('span',class_='table-body__logo-text')
Teams=[]
for i in teams:
    Teams.append(i.text.replace('\n',''))
Teams[:10]

['AFG', 'NZ', 'IND', 'BAN', 'SA', 'ENG', 'AUS', 'AUS', 'PAK', 'PAK']

TOP 10 ODI BOWLERS's RATING

In [244]:
ratings=soup.find_all('td',class_='table-body__cell rating')
Ratings=[]
for i in ratings:
    Ratings.append(i.text.replace('\n',''))
Ratings[:10]

['708', '691', '690', '668', '666', '665', '660', '646', '638', '634']

TOP 10 ODI BOWLER's TABLE

In [279]:
TOP_TEAN_bowlers_TABLE=pd.DataFrame({})
TOP_TEAN_bowlers_TABLE['TEAMS']=names[:10]
TOP_TEAN_bowlers_TABLE['MATCHES']=teams[:10]

TOP_TEAN_bowlers_TABLE['RATING']=rating[:10]
TOP_TEAN_bowlers_TABLE

              TEAMS MATCHES RATING
0  Mujeeb Ur Rahman   [AFG]  [857]
1        Matt Henry    [NZ]  [825]
2    Jasprit Bumrah   [IND]  [801]
3      Mehedi Hasan   [BAN]  [791]
4     Kagiso Rabada    [SA]  [785]
5      Chris Woakes   [ENG]  [778]
6    Josh Hazlewood   [AUS]  [778]
7       Pat Cummins   [AUS]  [773]
8     Mohammad Amir   [PAK]  [773]
9    Shaheen Afridi   [PAK]  [708]

Top 10 odi mens cricket bowling data


# 6.i) Top 10 ODI teams in women’s cricket

In [248]:
page=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')

page

In [249]:
soup=BeautifulSoup(page.content)

TOP 10 ODI WOMENS TEAM

In [257]:
odi_womens_teams=soup.find_all('span',class_='u-hide-phablet')

womens_team=[]
for i in odi_womens_teams:
    womens_team.append(i.text.replace('\n',''))
womens_team[1:10]

['South Africa',
 'England',
 'India',
 'New Zealand',
 'West Indies',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'Ireland']

TOP 10 ODI WOMENS TEAM PLAYER MATCHES

In [252]:
odi_womens_matches=soup.find_all('td',class_='table-body__cell u-center-text')

womens_matches=[]
for i in odi_womens_matches:
    womens_matches.append(i.text.replace('\n',''))
womens_matches[:10]

['24', '2,828', '17', '1,993', '20', '2,226', '21', '1,947', '12', '1,025']

TOP 10 ODI WOMENS TEAM POINTS

In [254]:
odi_womens_points=soup.find_all('td',class_='table-body__cell u-center-text')


womens_points=[]
for i in odi_womens_points:
    womens_points.append(i.text.replace('\n',''))
womens_points[:10]

['24', '2,828', '17', '1,993', '20', '2,226', '21', '1,947', '12', '1,025']

TOP 10 ODI WOMENS TEAM RATINGS

In [255]:
odi_womens_ratings=soup.find_all('td',class_='table-body__cell u-text-right rating')


womens_ratings=[]
for i in odi_womens_ratings:
    womens_ratings.append(i.text.replace('\n',''))
womens_ratings[:10]

['118', '117', '111', '93', '85', '73', '61', '47', '13']

TOP 10 ODI WOMENS TEAM DETAILS

In [259]:
TOP_TEAN_womens_ODI_TABLE=pd.DataFrame({})
TOP_TEAN_womens_ODI_TABLE['TEAMS']=odi_womens_teams[:9]
TOP_TEAN_womens_ODI_TABLE['MATCHES']=odi_womens_matches[:9]
TOP_TEAN_womens_ODI_TABLE['POINTS']=odi_womens_points[:9]
TOP_TEAN_womens_ODI_TABLE['RATINGS']=odi_womens_ratings[:9]
TOP_TEAN_womens_ODI_TABLE

            TEAMS  MATCHES   POINTS RATINGS
0     [Australia]     [24]     [24]   [118]
1  [South Africa]  [2,828]  [2,828]   [117]
2       [England]     [17]     [17]   [111]
3         [India]  [1,993]  [1,993]    [93]
4   [New Zealand]     [20]     [20]    [85]
5   [West Indies]  [2,226]  [2,226]    [73]
6      [Pakistan]     [21]     [21]    [61]
7    [Bangladesh]  [1,947]  [1,947]    [47]
8     [Sri Lanka]     [12]     [12]    [13]

Top odi womens cricket team

# 6.ii) Top 10 women’s ODI players

In [260]:
page=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')

page

In [261]:
soup=BeautifulSoup(page.content)

TOP 10 ODI WOMENS PLAYER

In [276]:
players_name=soup.find_all('td',class_='table-body__cell name')
Player_Names=[]
for i in players_name:
    Player_Names.append(i.text.replace('\n',''))
Player_Names[:10]

['Lizelle Lee',
 'Alyssa Healy',
 'Stafanie Taylor',
 'Meg Lanning',
 'Amy Satterthwaite',
 'Smriti Mandhana',
 'Mithali Raj',
 'Natalie Sciver',
 'Laura Wolvaardt',
 'Megan Schutt']

TOP 10 ODI WOMENS PLAYERS TEAMS

In [277]:
womens_team=soup.find_all('span',class_='table-body__logo-text')
w_teams=[]
for i in womens_team:
    w_teams.append(i.text.replace('\n',''))
w_teams[:10]

['SA', 'AUS', 'WI', 'AUS', 'NZ', 'IND', 'IND', 'ENG', 'SA', 'AUS']

TOP 10 ODI WOMENS PLAYER RATINGS

In [278]:
womens_rating=soup.find_all('td',class_='table-body__cell u-text-right rating')
w_rating=[]
for i in womens_rating:
    w_rating.append(i.text.replace('\n',''))
w_rating[:10]

['758', '756', '746', '723', '715', '710', '709', '685', '683', '762']

TOP 10 ODI WOMENS PLAYER DETAILS

In [382]:
TOP_w_odi_w_TABLE=pd.DataFrame({})
TOP_w_odi_w_TABLE['TEAMS']=players_name[:10]
TOP_w_odi_w_TABLE['MATCHES']=womens_team[:10]

TOP_w_odi_w_TABLE['RATING']=womens_rating[:10]
TOP_w_odi_w_TABLE

                           TEAMS MATCHES RATING
0        [\n, [Lizelle Lee], \n]    [SA]  [758]
1       [\n, [Alyssa Healy], \n]   [AUS]  [756]
2    [\n, [Stafanie Taylor], \n]    [WI]  [746]
3        [\n, [Meg Lanning], \n]   [AUS]  [723]
4  [\n, [Amy Satterthwaite], \n]    [NZ]  [715]
5    [\n, [Smriti Mandhana], \n]   [IND]  [710]
6        [\n, [Mithali Raj], \n]   [IND]  [709]
7     [\n, [Natalie Sciver], \n]   [ENG]  [685]
8    [\n, [Laura Wolvaardt], \n]    [SA]  [683]
9       [\n, [Megan Schutt], \n]   [AUS]  [762]

Top womens odi cricket players

# 6.iii) Top 10 women’s ODI all-rounder

In [285]:
page=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')

page

In [286]:
soup=BeautifulSoup(page.content)

TOP 10 WOMENS ALLROUNDERS

In [291]:
w_allrounders_name=soup.find_all('td',class_='table-body__cell rankings-table__name name')
al_Names=[]
for i in allrounders_name:
    al_Names.append(i.text.replace('\n',''))
al_Names[:10]

['Ellyse Perry',
 'Stafanie Taylor',
 'Natalie Sciver',
 'Deepti Sharma',
 'Jess Jonassen',
 'Ashleigh Gardner',
 'Dane van Niekerk',
 'Sophie Devine',
 'Amelia Kerr',
 'Katherine Brunt']

TOP 10 WOMENS ALLROUNDERS TEAMS

In [289]:
w_allrounders_team=soup.find_all('td',class_='table-body__cell nationality-logo rankings-table__team')
w_al_teams=[]
for i in w_allrounders_team:
    w_al_teams.append(i.text.replace('\n',''))
w_al_teams[:10]

['AUS', 'WI', 'ENG', 'IND', 'AUS', 'AUS', 'SA', 'NZ', 'NZ', 'ENG']

TOP 10 WOMENS ALLROUNDRS RATINGS

In [290]:
w_allrounders_rating=soup.find_all('td',class_='table-body__cell rating')
w_al_rating=[]
for i in w_allrounders_rating:
    w_al_rating.append(i.text.replace('\n',''))
w_al_rating[:10]

['418', '410', '349', '343', '307', '252', '243', '242', '236', '236']

TOP 10 WOMENS ODI ALLROUNDERS DETAILS

In [384]:
TOP_w_odi_al_TABLE=pd.DataFrame({})
TOP_w_odi_al_TABLE['NAME']=w_allrounders_name[:10]
TOP_w_odi_al_TABLE['TEAMS']=w_allrounders_team[:10]

TOP_w_odi_al_TABLE['RATING']=w_allrounders_rating[:10]
TOP_w_odi_al_TABLE

                           NAME                    TEAMS RATING
0      [\n, [Ellyse Perry], \n]  [\n, [], \n, [AUS], \n]  [418]
1   [\n, [Stafanie Taylor], \n]   [\n, [], \n, [WI], \n]  [410]
2    [\n, [Natalie Sciver], \n]  [\n, [], \n, [ENG], \n]  [349]
3     [\n, [Deepti Sharma], \n]  [\n, [], \n, [IND], \n]  [343]
4     [\n, [Jess Jonassen], \n]  [\n, [], \n, [AUS], \n]  [307]
5  [\n, [Ashleigh Gardner], \n]  [\n, [], \n, [AUS], \n]  [252]
6  [\n, [Dane van Niekerk], \n]   [\n, [], \n, [SA], \n]  [243]
7     [\n, [Sophie Devine], \n]   [\n, [], \n, [NZ], \n]  [242]
8       [\n, [Amelia Kerr], \n]   [\n, [], \n, [NZ], \n]  [236]
9   [\n, [Katherine Brunt], \n]  [\n, [], \n, [ENG], \n]  [236]

Top 10 allrounders of womens odi cricket  team.

# 7) a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in

In [295]:
page=requests.get('https://www.amazon.in/s?bbn=1389401031&rh=n%3A1389401031%2Cp_36%3A1318506031&dc&qid=1621938591&rnid=1318502031&ref=lp_1389401031_nr_p_36_3')

page

In [296]:
soup=BeautifulSoup(page.content)

SMARTPHONES NAME

In [344]:
product_name=soup.find_all('span',class_='a-size-base-plus a-color-base a-text-normal')
p_name=[]
for i in product_name:
    p_name.append(i.text.replace('\n',''))
p_name

['Redmi Note 10 (Shadow Black, 4GB RAM, 64GB Storage) - Amoled Dot Display | 48MP Sony Sensor IMX582 | Snapdragon 678 Processor',
 'Redmi Note 10 (Aqua Green, 4GB RAM, 64GB Storage)',
 'Samsung Galaxy M12 (Blue,4GB RAM, 64GB Storage) 6000 mAh with 8nm Processor | True 48 MP Quad Camera | 90Hz Refresh Rate',
 'Redmi Note 10 (Aqua Green, 6GB RAM, 128GB Storage) - Amoled Dot Display | 48MP Sony Sensor IMX582 | Snapdragon 678 Processor',
 'Samsung Galaxy M12 (Black,4GB RAM, 64GB Storage) 6000 mAh with 8nm Processor | True 48 MP Quad Camera | 90Hz Refresh Rate',
 'Oppo A31 (Fantasy White, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Redmi 9 Power (Blazing Blue, 4GB RAM, 64GB Storage) - 6000mAh Battery |FHD+ Screen| 48MP Quad Camera',
 'Redmi Note 9 (Arctic White, 4GB RAM, 64GB Storage) - 48MP Quad Camera & Full HD+ Display',
 'Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB Storage)',
 'Redmi Note 10 (Shadow Black, 6GB RAM, 128GB Storage)',
 'Redmi Note 9 Shadow Black, 4GB RAM, 64GB Storage',
 'Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storage) - 48MP Quad Camera & Full HD+ Display',
 'Oppo A31 (Mystery Black, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Redmi Note 10 Pro (Dark Night, 6GB RAM, 128GB Storage) -120hz Super Amoled Display|64MP with 5mp Super Tele- Macro',
 'Redmi 9 Power (Electric Green, 4GB RAM, 64GB Storage) - 6000mAh Battery |FHD+ Screen| 48MP Quad Camera',
 'Redmi 9 Power (Mighty Black 4GB RAM 64GB Storage) - 6000mAh Battery |FHD+ Screen | 48MP Quad Camera',
 'OPPO A74 5G (Fluid Black, 6GB RAM, 128GB Storage)',
 'OPPO A74 5G (Fantastic Purple, 6GB RAM, 128GB Storage)',
 'Redmi Note 10S (Shadow Black, 6GB RAM, 128GB Storage) - Super Amoled Display | 64 MP Quad Camera',
 'Samsung Galaxy M31s (Mirage Blue, 6GB RAM, 128GB Storage)',
 'Samsung Galaxy M12 (White,4GB RAM, 64GB Storage) 6000 mAh with 8nm Processor | True 48 MP Quad Camera | 90Hz Refresh Rate',
 'Redmi Note 10S (Shadow Black, 6GB RAM, 64GB Storage) - Super Amoled Display | 64 MP Quad Camera',
 'Samsung Galaxy M12 (Blue,6GB RAM, 128GB Storage) 6000 mAh with 8nm Processor | True 48 MP Quad Camera | 90Hz Refresh Rate',
 'Samsung Galaxy M31 (Space Black, 6GB RAM, 128GB Storage)']

SMARTPHONES PRICE

In [345]:
product_price=soup.find_all('span',class_='a-price-whole')
p_price=[]
for i in product_price:
    p_price.append(i.text.replace('\n',''))
p_price

['12,499',
 '12,499',
 '10,999',
 '14,499',
 '10,999',
 '10,990',
 '10,499',
 '10,999',
 '14,999',
 '14,499',
 '10,999',
 '10,999',
 '10,990',
 '16,999',
 '10,499',
 '10,499',
 '17,990',
 '17,990',
 '16,999',
 '10,999',
 '14,999',
 '13,499',
 '14,999']

In [333]:
url=('https://m.media-amazon.com/images/I/71QY6JV6FhS._AC_UL640_FMwebp_QL65_.jpg')

SMARTPHONES RATINGS

In [346]:
product_rating=soup.find_all('i',class_='a-icon a-icon-star-small a-star-small-4 aok-align-bottom')
p_rating=[]
for i in product_rating:
    p_rating.append(i.text.replace('\n',''))
p_rating

['4.0 out of 5 stars',
 '4.0 out of 5 stars',
 '4.0 out of 5 stars',
 '4.0 out of 5 stars',
 '4.0 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.0 out of 5 stars',
 '4.2 out of 5 stars',
 '4.1 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.0 out of 5 stars',
 '4.0 out of 5 stars']

SMARTPHONES OVERALL DATA

In [348]:
SMARTPHONES=pd.DataFrame({})
SMARTPHONES['NAME']=product_name[:14]
SMARTPHONES['PRICE']=product_price[:14]

SMARTPHONES['RATING']=product_rating[:14]
SMARTPHONES

,NAME,PRICE,RATING
0,"[Redmi Note 10 (Shadow Black, 4GB RAM, 64GB St...","[12,499]",[[4.0 out of 5 stars]]
1,"[Redmi Note 10 (Aqua Green, 4GB RAM, 64GB Stor...","[12,499]",[[4.0 out of 5 stars]]
2,"[Samsung Galaxy M12 (Blue,4GB RAM, 64GB Storag...","[10,999]",[[4.0 out of 5 stars]]
3,"[Redmi Note 10 (Aqua Green, 6GB RAM, 128GB Sto...","[14,499]",[[4.0 out of 5 stars]]
4,"[Samsung Galaxy M12 (Black,4GB RAM, 64GB Stora...","[10,999]",[[4.0 out of 5 stars]]
5,"[Oppo A31 (Fantasy White, 6GB RAM, 128GB Stora...","[10,990]",[[4.2 out of 5 stars]]
6,"[Redmi 9 Power (Blazing Blue, 4GB RAM, 64GB St...","[10,499]",[[4.2 out of 5 stars]]
7,"[Redmi Note 9 (Arctic White, 4GB RAM, 64GB Sto...","[10,999]",[[4.0 out of 5 stars]]
8,"[Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128G...","[14,999]",[[4.2 out of 5 stars]]
9,"[Redmi Note 10 (Shadow Black, 6GB RAM, 128GB S...","[14,499]",[[4.1 out of 5 stars]]
10,"[Redmi Note 9 Shadow Black, 4GB RAM, 64GB Stor...","[10,999]",[[4.2 out of 5 stars]]
11,"[Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Stora...","[10,999]",[[4.2 out of 5 stars]]
12,"[Oppo A31 (Mystery Black, 6GB RAM, 128GB Stora...","[10,990]",[[4.0 out of 5 stars]]
13,"[Redmi Note 10 Pro (Dark Night, 6GB RAM, 128GB...","[16,999]",[[4.0 out of 5 stars]]

In [349]:
url

'https://m.media-amazon.com/images/I/71QY6JV6FhS._AC_UL640_FMwebp_QL65_.jpg'

# 8)  python program to extract information about the local weather from the National Weather Service

In [350]:
page=requests.get('https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YKz8oY3itPY')

page

In [351]:
soup=BeautifulSoup(page.content)

WEATHER TIME PERIOD

In [352]:
period=soup.find_all('p',class_='period-name')
w_period=[]
for i in period:
    w_period.append(i.text.replace('\n',''))
w_period

['Today',
 'Tonight',
 'Wednesday',
 'WednesdayNight',
 'Thursday',
 'ThursdayNight',
 'Friday',
 'FridayNight',
 'Saturday']

WEATHER SHORT DESCRIPTION

In [353]:
s_description=soup.find_all('p',class_='short-desc')
short_description=[]
for i in s_description:
    short_description.append(i.text.replace('\n',''))
short_description

['Mostly Sunnythen Sunnyand Breezy',
 'Mostly Clear',
 'Sunny thenSunny andBreezy',
 'Mostly Clearand Breezy',
 'Sunny andBreezy',
 'Mostly Clearand Breezythen PartlyCloudy',
 'Sunny',
 'Partly Cloudy',
 'Mostly Sunny']

WEATHER DETAIL DESCRIPION WITH TEMPRATURE

In [357]:
d_desc=soup.find_all('div',class_='col-sm-10 forecast-text')
detail_desc=[]
for i in d_desc:
    detail_desc.append(i.text.replace('\n',''))
detail_desc

['Mostly cloudy through mid morning, then gradual clearing, with a high near 64. Breezy, with a west wind 13 to 18 mph increasing to 19 to 24 mph in the afternoon. Winds could gust as high as 32 mph. ',
 'Mostly clear, with a low around 49. West southwest wind 15 to 20 mph decreasing to 5 to 10 mph after midnight. Winds could gust as high as 25 mph. ',
 'Sunny, with a high near 65. Breezy, with a west southwest wind 5 to 15 mph increasing to 15 to 25 mph in the afternoon. Winds could gust as high as 33 mph. ',
 'Mostly clear, with a low around 49. Breezy, with a west wind 21 to 26 mph, with gusts as high as 34 mph. ',
 'Sunny, with a high near 67. Breezy, with a west wind 20 to 28 mph, with gusts as high as 37 mph. ',
 'Mostly clear, with a low around 51. Breezy. ',
 'Sunny, with a high near 65.',
 'Partly cloudy, with a low around 51.',
 'Mostly sunny, with a high near 64.',
 'Partly cloudy, with a low around 51.',
 'Sunny, with a high near 68.',
 'Mostly clear, with a low around 52.',
 'Sunny, with a high near 72.']

WEATHER REPORT

In [365]:
weather_forcast=pd.DataFrame({})
weather_forcast['PERIOD']=period[:7]
weather_forcast['SHORT DESCRIPTION']=s_description[:7]


weather_forcast['DETAIL DESCRIPTION WITH TEMPRATURE IN FAHRENHEIT']=d_desc[:7]

weather_forcast

,PERIOD,SHORT DESCRIPTION,DETAIL DESCRIPTION WITH TEMPRATURE IN FAHRENHEIT
0,"[Today, [], []]","[Mostly Sunny, [], then Sunny, [], and Breezy]","[Mostly cloudy through mid morning, then gradu..."
1,"[Tonight, [], []]",[Mostly Clear],"[Mostly clear, with a low around 49. West sout..."
2,"[Wednesday, [], []]","[Sunny then, [], Sunny and, [], Breezy]","[Sunny, with a high near 65. Breezy, with a we..."
3,"[Wednesday, [], Night]","[Mostly Clear, [], and Breezy]","[Mostly clear, with a low around 49. Breezy, w..."
4,"[Thursday, [], []]","[Sunny and, [], Breezy]","[Sunny, with a high near 67. Breezy, with a we..."
5,"[Thursday, [], Night]","[Mostly Clear, [], and Breezy, [], then Partly...","[Mostly clear, with a low around 51. Breezy. ]"
6,"[Friday, [], []]",[Sunny],"[Sunny, with a high near 65.]"

# 9) a python program to scrape fresher job listings from ‘https://internshala.com/

In [10]:
page=requests.get('https://internshala.com/fresher-jobs')

page

JOBS

In [11]:
soup=BeautifulSoup(page.content)

In [12]:
title=soup.find_all('div',class_='heading_4_5 profile')
jobs_title=[]
for i in title:
    jobs_title.append(i.text.replace('\n',''))
jobs_title

['Talent Acquisition Executive ',
 'Full Stack Developer ',
 'Backend Developer ',
 'Full Stack Developer ',
 'Junior Sales Associate ',
 'Digital Marketing Specialist ',
 'Android App Developer ',
 'Associate Data Scientist ',
 'Junior Software Developer ',
 'Associate Software Developer ',
 'Full Stack Developer ',
 'Operations Executive ',
 'Associate UI/UX Designer ',
 'Web Development Trainee ',
 'Business Development Executive ',
 'Full Stack Flutter Developer ',
 'Associate Software Developer ',
 'Hardware Simulation Engineer ',
 'Graphic Designer ',
 'Marketing Analyst ',
 'Mobile App Developer ',
 'Software Engineer - AI(NLP)/Front-end(Angular)/Back-end(Python/Java Cloud) ',
 'Corporate Sales Executive ',
 'Software Tester ',
 'Mobile App Developer ',
 'Junior Backend Developer ',
 'Social Media Strategist And Copywriter ',
 'Junior UI Designer ',
 'Customer Service Executive ',
 'Business Development Associate ',
 'JavaScript Developer ',
 'Software Engineer ',
 'Business Development Manager (Inside Sales) ',
 'Proposal & Marketing Engineer ',
 'Software Engineer Trainee ',
 'Associate Software Developer ',
 'Office Manager ',
 'Technical Recruiter ',
 'Administrative Assistant ',
 'Web Developer ']

COMPANY

In [16]:
c=soup.find_all('a',class_='link_display_like_text')
company=[]
for i in c:
    company.append(i.text.replace('\n',''))
company

['                        CrewKarma                    ',
 '                        Codfirm                    ',
 '                        WebMOBI                    ',
 '                        TMBill Software                    ',
 '                        Kraftshala                    ',
 '                        Black Jack                    ',
 '                        Storlyy                    ',
 '                        Softsensor.ai                    ',
 '                        ZoryBoard Software Solutions                    ',
 '                        SNet Labs Private Limited                    ',
 '                        RavGins International Private Limited (Wobb.ai)                    ',
 '                        TutorBin                    ',
 '                        RavGins International Private Limited (Wobb.ai)                    ',
 '                        Softsensor.ai                    ',
 '                        Square Select Estates                    ',
 '                        HeartShirt                    ',
 '                        Labellerr By Tensor Matics Private Limited                    ',
 '                        Keysight Technologies                    ',
 '                        Cynfas                    ',
 '                        Exhilar Innovative Solutions Private Limited                    ',
 '                        Wow Labz                    ',
 '                        RapidKen.AI                    ',
 '                        Twin Health                    ',
 '                        Lattice Innovations Private Limited                    ',
 '                        Fusion Engineering                    ',
 '                        VPODS.ai                    ',
 '                        Internshala                    ',
 '                        Phionike Solutions                    ',
 '                        Verzeo                    ',
 '                        Erikka India                    ',
 '                        Inflolabs                    ',
 '                        CrewKarma                    ',
 '                        Vedic Maths Forum India                    ',
 '                        EnWe Clean Technologies Private Limited                    ',
 '                        RightRev India Private Limited                    ',
 '                        Shashank B                    ',
 '                        Wono Inc                    ',
 '                        Wono Inc                    ',
 '                        Wono Inc                    ',
 '                        Wono Inc                    ']

CTC

In [51]:
ctc=soup.find_all('div',class_='item_body')
CTC=[]
for i in ctc:
    CTC.append(i.text.replace('\n','     '))
CTC

['     Starts\xa0Immediately                             ',
 '       3 - 5 LPA                                                    ',
 "24 Jun' 21",
 '     Starts\xa0Immediately                             ',
 '       5 - 8 LPA                                                    ',
 "24 Jun' 21",
 '     Starts\xa0Immediately                             ',
 '       3 LPA                                                    ',
 "24 Jun' 21",
 '     Starts\xa0Immediately                             ',
 '       3 LPA                                                    ',
 "24 Jun' 21",
 '     Starts\xa0Immediately                             ',
 '       4 LPA                                                    ',
 "24 Jun' 21",
 '     Starts\xa0Immediately                             ',
 '       3 - 5 LPA                                                    ',
 "24 Jun' 21",
 '     Starts\xa0Immediately                             ',
 '       3 - 3.5 LPA                                                    ',
 "23 Jun' 21",
 '     Starts\xa0Immediately                             ',
 '       4 - 8 LPA                                                    ',
 "24 Jun' 21",
 '     Starts\xa0Immediately                             ',
 '       3 - 4 LPA                                                    ',
 "20 Jun' 21",
 '     Starts\xa0Immediately                             ',
 '       3 - 3.2 LPA                                                    ',
 "20 Jun' 21",
 '     Starts\xa0Immediately                             ',
 '       3.3 - 4 LPA                                                    ',
 "20 Jun' 21",
 '     Starts\xa0Immediately                             ',
 '       3.6 - 3.84 LPA                                                    ',
 "20 Jun' 21",
 '     Starts\xa0Immediately                             ',
 '       3 - 4 LPA                                                    ',
 "20 Jun' 21",
 '     Starts\xa0Immediately                             ',
 '       3 - 5 LPA                                                    ',
 "20 Jun' 21",
 '     Starts\xa0Immediately                             ',
 '       3 - 5 LPA                                                    ',
 "19 Jun' 21",
 '     Starts\xa0Immediately                             ',
 '       3 - 3.5 LPA                                                    ',
 "19 Jun' 21",
 '     Starts\xa0Immediately                             ',
 '       7 - 10 LPA                                                    ',
 "23 Jun' 21",
 '     Starts\xa0Immediately                             ',
 '       4 - 7 LPA                                                    ',
 "19 Jun' 21",
 '     Starts\xa0Immediately                             ',
 '       3 LPA                                                    ',
 "17 Jun' 21",
 '     Starts\xa0Immediately                             ',
 '       3 - 6 LPA                                                    ',
 "17 Jun' 21",
 '     Starts\xa0Immediately                             ',
 '       3 - 5 LPA                                                    ',
 "17 Jun' 21",
 '     Starts\xa0Immediately                             ',
 '       4 - 8 LPA                                                    ',
 "17 Jun' 21",
 '     Starts\xa0Immediately                             ',
 '       3 - 4 LPA                                                    ',
 "17 Jun' 21",
 '     Starts\xa0Immediately                             ',
 '       3 LPA                                                    ',
 "16 Jun' 21",
 '     Starts\xa0Immediately                             ',
 '       4.5 - 5.25 LPA                                                    ',
 "16 Jun' 21",
 '     Starts\xa0Immediately                             ',
 '       4 - 5 LPA                                                    ',
 "16 Jun' 21",
 '     Starts\xa0Immediately                             ',
 '       5 - 6.8 LPA                                                    ',
 "16 Jun' 21",
 '     Starts\xa0Immediately                             ',
 '       3.5 - 4 LPA                                                    ',
 "15 Jun' 21",
 '     Starts\xa0Immediately                             ',
 '       3 LPA                                                    ',
 "14 Jun' 21",
 '     Starts\xa0Immediately                             ',
 '       3 - 5 LPA                                                    ',
 "14 Jun' 21",
 '     Starts\xa0Immediately                             ',
 '       3 - 5 LPA                                                    ',
 "13 Jun' 21",
 '     Starts\xa0Immediately                             ',
 '       3 - 5 LPA                                                    ',
 "13 Jun' 21",
 '     Starts\xa0Immediately                             ',
 '       3 - 4 LPA                                                    ',
 "13 Jun' 21",
 '     Starts\xa0Immediately                             ',
 '       3 - 3.25 LPA                                                    ',
 "12 Jun' 21",
 '     Starts\xa0Immediately                             ',
 '       3 LPA                                                    ',
 "12 Jun' 21",
 '     Starts\xa0Immediately                             ',
 '       5 - 6 LPA                                                    ',
 "12 Jun' 21",
 '     Starts\xa0Immediately                             ',
 '       5.1 - 6.1 LPA                                                    ',
 "12 Jun' 21",
 '     Starts\xa0Immediately                             ',
 '       5.1 - 6.1 LPA                                                    ',
 "12 Jun' 21",
 '     Starts\xa0Immediately                             ',
 '       5 - 6.5 LPA                                                    ',
 "12 Jun' 21",
 '     Starts\xa0Immediately                             ',
 '       5.5 - 6.5 LPA                                                    ',
 "12 Jun' 21"]

APPLYING DATE

In [47]:
date=soup.find_all('div',class_='other_detail_item_row')
a_date=[]
for i in date:
    a_date.append(i.text.replace('\n',''))
a_date

['                                Start date                            Starts\xa0Immediately                        CTC  3 - 5 LPA                                                    ',
 "Apply By24 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        CTC  5 - 8 LPA                                                    ',
 "Apply By24 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        CTC  3 LPA                                                    ',
 "Apply By24 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        CTC  3 LPA                                                    ',
 "Apply By24 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        CTC  4 LPA                                                    ',
 "Apply By24 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        CTC  3 - 5 LPA                                                    ',
 "Apply By24 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        CTC  3 - 3.5 LPA                                                    ',
 "Apply By23 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        CTC  4 - 8 LPA                                                    ',
 "Apply By24 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        CTC  3 - 4 LPA                                                    ',
 "Apply By20 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        CTC  3 - 3.2 LPA                                                    ',
 "Apply By20 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        CTC  3.3 - 4 LPA                                                    ',
 "Apply By20 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        CTC  3.6 - 3.84 LPA                                                    ',
 "Apply By20 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        CTC  3 - 4 LPA                                                    ',
 "Apply By20 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        CTC  3 - 5 LPA                                                    ',
 "Apply By20 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        CTC  3 - 5 LPA                                                    ',
 "Apply By19 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        CTC  3 - 3.5 LPA                                                    ',
 "Apply By19 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        CTC  7 - 10 LPA                                                    ',
 "Apply By23 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        CTC  4 - 7 LPA                                                    ',
 "Apply By19 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        CTC  3 LPA                                                    ',
 "Apply By17 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        CTC  3 - 6 LPA                                                    ',
 "Apply By17 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        CTC  3 - 5 LPA                                                    ',
 "Apply By17 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        CTC  4 - 8 LPA                                                    ',
 "Apply By17 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        CTC  3 - 4 LPA                                                    ',
 "Apply By17 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        CTC  3 LPA                                                    ',
 "Apply By16 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        CTC  4.5 - 5.25 LPA                                                    ',
 "Apply By16 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        CTC  4 - 5 LPA                                                    ',
 "Apply By16 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        CTC  5 - 6.8 LPA                                                    ',
 "Apply By16 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        CTC  3.5 - 4 LPA                                                    ',
 "Apply By15 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        CTC  3 LPA                                                    ',
 "Apply By14 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        CTC  3 - 5 LPA                                                    ',
 "Apply By14 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        CTC  3 - 5 LPA                                                    ',
 "Apply By13 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        CTC  3 - 5 LPA                                                    ',
 "Apply By13 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        CTC  3 - 4 LPA                                                    ',
 "Apply By13 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        CTC  3 - 3.25 LPA                                                    ',
 "Apply By12 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        CTC  3 LPA                                                    ',
 "Apply By12 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        CTC  5 - 6 LPA                                                    ',
 "Apply By12 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        CTC  5.1 - 6.1 LPA                                                    ',
 "Apply By12 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        CTC  5.1 - 6.1 LPA                                                    ',
 "Apply By12 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        CTC  5 - 6.5 LPA                                                    ',
 "Apply By12 Jun' 21",
 '                                Start date                            Starts\xa0Immediately                        CTC  5.5 - 6.5 LPA                                                    ',
 "Apply By12 Jun' 21"]

In [27]:
len(date)

120

FRESHERS JOB DATA

In [52]:
JOBS_DATA=pd.DataFrame({})
JOBS_DATA['JOBS']=title
JOBS_DATA['COMPANY']=c

JOBS_DATA['CTC']=ctc[:40]
JOBS_DATA['APPLY BY']=a_date[:40]
JOBS_DATA

,JOBS,COMPANY,CTC,APPLY BY
0,"[\n, [Talent Acquisition Executive], ]",[\n CrewKarma ...,"[\n, [Starts ], Immediately\n ...",Start date ...
1,"[\n, [Full Stack Developer], ]",[\n Codfirm ...,"[\n, [], 3 - 5 LPA ...",Apply By24 Jun' 21
2,"[\n, [Backend Developer], ]",[\n WebMOBI ...,[24 Jun' 21],Start date ...
3,"[\n, [Full Stack Developer], ]",[\n TMBill Software ...,"[\n, [Starts ], Immediately\n ...",Apply By24 Jun' 21
4,"[\n, [Junior Sales Associate], ]",[\n Kraftshala ...,"[\n, [], 5 - 8 LPA ...",Start date ...
5,"[\n, [Digital Marketing Specialist], ]",[\n Black Jack ...,[24 Jun' 21],Apply By24 Jun' 21
6,"[\n, [Android App Developer], ]",[\n Storlyy ...,"[\n, [Starts ], Immediately\n ...",Start date ...
7,"[\n, [Associate Data Scientist], ]",[\n Softsensor.ai ...,"[\n, [], 3 LPA ...",Apply By24 Jun' 21
8,"[\n, [Junior Software Developer], ]",[\n ZoryBoard Software ...,[24 Jun' 21],Start date ...
9,"[\n, [Associate Software Developer], ]",[\n SNet Labs Private L...,"[\n, [Starts ], Immediately\n ...",Apply By24 Jun' 21
10,"[\n, [Full Stack Developer], ]",[\n RavGins Internation...,"[\n, [], 3 LPA ...",Start date ...
11,"[\n, [Operations Executive], ]",[\n TutorBin ...,[24 Jun' 21],Apply By24 Jun' 21
12,"[\n, [Associate UI/UX Designer], ]",[\n RavGins Internation...,"[\n, [Starts ], Immediately\n ...",Start date ...
13,"[\n, [Web Development Trainee], ]",[\n Softsensor.ai ...,"[\n, [], 4 LPA ...",Apply By23 Jun' 21
14,"[\n, [Business Development Executive], ]",[\n Square Select Estat...,[24 Jun' 21],Start date ...
15,"[\n, [Full Stack Flutter Developer], ]",[\n HeartShirt ...,"[\n, [Starts ], Immediately\n ...",Apply By24 Jun' 21
16,"[\n, [Associate Software Developer], ]",[\n Labellerr By Tensor...,"[\n, [], 3 - 5 LPA ...",Start date ...
17,"[\n, [Hardware Simulation Engineer], ]",[\n Keysight Technologi...,[24 Jun' 21],Apply By20 Jun' 21
18,"[\n, [Graphic Designer], ]",[\n Cynfas ...,"[\n, [Starts ], Immediately\n ...",Start date ...
19,"[\n, [Marketing Analyst], ]",[\n Exhilar Innovative ...,"[\n, [], 3 - 3.5 LPA ...",Apply By20 Jun' 21
20,"[\n, [Mobile App Developer], ]",[\n Wow Labz ...,[23 Jun' 21],Start date ...
21,"[\n, [Software Engineer - AI(NLP)/Front-end(An...",[\n RapidKen.AI ...,"[\n, [Starts ], Immediately\n ...",Apply By20 Jun' 21
22,"[\n, [Corporate Sales Executive], ]",[\n Twin Health ...,"[\n, [], 4 - 8 LPA ...",Start date ...
23,"[\n, [Software Tester], ]",[\n Lattice Innovations...,[24 Jun' 21],Apply By20 Jun' 21
24,"[\n, [Mobile App Developer], ]",[\n Fusion Engineering ...,"[\n, [Starts ], Immediately\n ...",Start date ...
25,"[\n, [Junior Backend Developer], ]",[\n VPODS.ai ...,"[\n, [], 3 - 4 LPA ...",Apply By20 Jun' 21
26,"[\n, [Social Media Strategist And Copywriter], ]",[\n Internshala ...,[20 Jun' 21],Start date ...
27,"[\n, [Junior UI Designer], ]",[\n Phionike Solutions ...,"[\n, [Starts ], Immediately\n ...",Apply By20 Jun' 21
28,"[\n, [Customer Service Executive], ]",[\n Verzeo ...,"[\n, [], 3 - 3.2 LPA ...",Start date ...
29,"[\n, [Business Development Associate], ]",[\n Erikka India ...,[20 Jun' 21],Apply By19 Jun' 21
30,"[\n, [JavaScript Developer], ]",[\n Inflolabs ...,"[\n, [Starts ], Immediately\n ...",Start date ...
31,"[\n, [Software Engineer], ]",[\n CrewKarma ...,"[\n, [], 3.3 - 4 LPA ...",Apply By19 Jun' 21
32,"[\n, [Business Development Manager (Inside Sal...",[\n Vedic Maths Forum I...,[20 Jun' 21],Start date ...
33,"[\n, [Proposal & Marketing Engineer], ]",[\n EnWe Clean Technolo...,"[\n, [Starts ], Immediately\n ...",Apply By23 Jun' 21
34,"[\n, [Software Engineer Trainee], ]",[\n RightRev India Priv...,"[\n, [], 3.6 - 3.84 LPA ...",Start date ...
35,"[\n, [Associate Software Developer], ]",[\n Shashank B ...,[20 Jun' 21],Apply By19 Jun' 21
36,"[\n, [Office Manager], ]",[\n Wono Inc ...,"[\n, [Starts ], Immediately\n ...",Start date ...
37,"[\n, [Technical Recruiter], ]",[\n Wono Inc ...,"[\n, [], 3 - 4 LPA ...",Apply By17 Jun' 21
38,"[\n, [Administrative Assistant], ]",[\n Wono Inc ...,[20 Jun' 21],Start date ...
39,"[\n, [Web Developer], ]",[\n Wono Inc ...,"[\n, [Starts ], Immediately\n ...",Apply By17 Jun' 21

FRESHERS JOB OPENINGS DATA

#                                          ASSIGNMENT SUMMARY




# 1) python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page

In [386]:
print('all the header tags:', *story, sep='\n\n')

all the header tags:

<h1 class="firstHeading" id="firstHeading">Main Page</h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 class="vector-menu-heading" id="p-personal-label">
<span>Personal tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-namespaces-label">
<span>Namespaces</span>
</h3>

<h3 class="vector-menu-heading" id="p-variants-label">
<span>Variants</span>
</h3>

<h3 class="vector-menu-heading" id="p-views-label">
<span>Views</span>
</h3>

<h3 class="vector-menu-heading" id="p-cactions-label">
<span>More</span>
</h3>

<h3>
<label for="searchInput">Search</label>
</h3>

<h3 class="vector-menu-heading" id="p-navigation-label">
<span>Navigation</span>
</h3>

<h3 class="vector-menu-heading" id="p-interaction-label">
<span>Contribute</span>
</h3>

<h3 class="vector-menu-heading" id="p-tb-label">
<span>Tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span>Print/export</span>
</h3>

<h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span>In other projects</span>
</h3>

<h3 class="vector-menu-heading" id="p-lang-label">
<span>Languages</span>
</h3>

# 2) IMDB’s Top rated 100 movies

In [394]:
df_

                        Name of movie Year of relese Ratings
0            The Shawshank Redemption         (1994)     9.3
1                       The Godfather         (1972)     9.2
2                     The Dark Knight         (2008)       9
3              The Godfather: Part II         (1974)       9
4                        12 Angry Men         (1957)       9
..                                ...            ...     ...
95                            Vertigo         (1958)     8.3
96                 North by Northwest         (1959)     8.3
97                           Das Boot         (1981)     8.3
98  M - Eine Stadt sucht einen Mörder         (1931)     8.3
99                            The Kid         (1921)     8.3

[100 rows x 3 columns]

# 3 IMDB’s Top rated 100 Indian movies

In [395]:
df

                        Name of movie Year of relese Ratings
0                     Ship of Theseus         (2012)     8.1
1                              Iruvar         (1997)     8.5
2                     Kaagaz Ke Phool         (1959)       8
3   Lagaan: Once Upon a Time in India         (2001)     8.1
4                     Pather Panchali         (1955)     8.6
..                                ...            ...     ...
95                        Apur Sansar         (1959)     8.5
96                        Kanchivaram         (2008)     8.1
97                    Monsoon Wedding         (2001)     7.4
98                              Black         (2005)     8.2
99                            Deewaar         (1975)     8.1

[100 rows x 3 columns]

# 4) 5 books from¶
‘www.bookpage.com

In [396]:
Books_data

,Name,Authors,Genre,Reviews.
0,You People,Nikita Lalwani,Fiction / Literary Fiction,Nikita Lalwani's magical novel invites us to p...
1,★ Ship in a Bottle,Andrew Prahin,Children's / Children's Picture Book,
2,Tokyo Ever After,Emiko Jean,YA / YA Fiction,
3,The Kingdoms,Natasha Pulley,Fiction / Speculative Fiction,Natasha Pulley balances the topsy-turvy nature...
4,New Yorkers,"Craig Taylor, Cast",Audio / Nonfiction / Culture,"“This city barged into conversations,” Craig T..."
5,★ Hazel Bly and the Deep Blue Sea,Ashley Herring Blake,Children's / Middle Grade,Nothing has been the same for Hazel or her fam...
6,★ The Final Revival of Opal & Nev,"Dawnie Walton, Cast",Audio / Fiction / Literary Fiction,"After listening to this incredible audiobook, ..."
7,Sisters of the Neversea,Cynthia Leitich Smith,Children's / Middle Grade,
8,★ American Republics,Alan Taylor,Nonfiction / History / American History,Pulitzer Prize winner Alan Taylor’s latest Ame...
9,★ Light Perpetual,Francis Spufford,Fiction / Literary Fiction,The biggest message of Francis Spufford’s seco...

# 5.i) Top 10 ODI teams in men’s cricket teams

In [397]:
TOP_TEAN_ODI_TABLE

            TEAMS  MATCHES   POINTS RATINGS
0   [New Zealand]     [25]     [25]   [118]
1     [Australia]  [2,945]  [2,945]   [115]
2         [India]     [29]     [29]   [115]
3       [England]  [3,344]  [3,344]   [107]
4  [South Africa]     [27]     [27]    [97]
5      [Pakistan]  [3,100]  [3,100]    [91]
6    [Bangladesh]     [20]     [20]    [82]
7   [West Indies]  [2,137]  [2,137]    [77]
8     [Sri Lanka]     [24]     [24]    [62]
9   [Afghanistan]  [2,323]  [2,323]    [45]

# 5.ii) Top 10 ODI Batsmen in mens

In [406]:
TOP_TEAN_mens_TABLE

                             TEAMS                  MATCHES RATINGS
0          [\n, [Virat Kohli], \n]  [\n, [], \n, [IND], \n]   [857]
1         [\n, [Rohit Sharma], \n]  [\n, [], \n, [IND], \n]   [825]
2          [\n, [Ross Taylor], \n]   [\n, [], \n, [NZ], \n]   [801]
3          [\n, [Aaron Finch], \n]  [\n, [], \n, [AUS], \n]   [791]
4       [\n, [Jonny Bairstow], \n]  [\n, [], \n, [ENG], \n]   [785]
5         [\n, [Fakhar Zaman], \n]  [\n, [], \n, [PAK], \n]   [778]
6  [\n, [Francois du Plessis], \n]   [\n, [], \n, [SA], \n]   [778]
7         [\n, [David Warner], \n]  [\n, [], \n, [AUS], \n]   [773]
8            [\n, [Shai Hope], \n]   [\n, [], \n, [WI], \n]   [773]
9      [\n, [Quinton de Kock], \n]   [\n, [], \n, [SA], \n]   [756]

# 5.iii) Top 10 ODI bowlers

In [400]:
TOP_TEAN_bowlers_TABLE

              TEAMS MATCHES RATING
0  Mujeeb Ur Rahman   [AFG]  [857]
1        Matt Henry    [NZ]  [825]
2    Jasprit Bumrah   [IND]  [801]
3      Mehedi Hasan   [BAN]  [791]
4     Kagiso Rabada    [SA]  [785]
5      Chris Woakes   [ENG]  [778]
6    Josh Hazlewood   [AUS]  [778]
7       Pat Cummins   [AUS]  [773]
8     Mohammad Amir   [PAK]  [773]
9    Shaheen Afridi   [PAK]  [708]

# 6.i) Top 10 ODI teams in women’s cricket

In [402]:
TOP_TEAN_womens_ODI_TABLE

            TEAMS  MATCHES   POINTS RATINGS
0     [Australia]     [24]     [24]   [118]
1  [South Africa]  [2,828]  [2,828]   [117]
2       [England]     [17]     [17]   [111]
3         [India]  [1,993]  [1,993]    [93]
4   [New Zealand]     [20]     [20]    [85]
5   [West Indies]  [2,226]  [2,226]    [73]
6      [Pakistan]     [21]     [21]    [61]
7    [Bangladesh]  [1,947]  [1,947]    [47]
8     [Sri Lanka]     [12]     [12]    [13]

# 6.ii) Top 10 women’s ODI players

In [403]:
TOP_w_odi_w_TABLE

                           TEAMS MATCHES RATING
0        [\n, [Lizelle Lee], \n]    [SA]  [758]
1       [\n, [Alyssa Healy], \n]   [AUS]  [756]
2    [\n, [Stafanie Taylor], \n]    [WI]  [746]
3        [\n, [Meg Lanning], \n]   [AUS]  [723]
4  [\n, [Amy Satterthwaite], \n]    [NZ]  [715]
5    [\n, [Smriti Mandhana], \n]   [IND]  [710]
6        [\n, [Mithali Raj], \n]   [IND]  [709]
7     [\n, [Natalie Sciver], \n]   [ENG]  [685]
8    [\n, [Laura Wolvaardt], \n]    [SA]  [683]
9       [\n, [Megan Schutt], \n]   [AUS]  [762]

# 6.iii) Top 10 women’s ODI all-rounder

In [407]:
TOP_w_odi_al_TABLE

                           NAME                    TEAMS RATING
0      [\n, [Ellyse Perry], \n]  [\n, [], \n, [AUS], \n]  [418]
1   [\n, [Stafanie Taylor], \n]   [\n, [], \n, [WI], \n]  [410]
2    [\n, [Natalie Sciver], \n]  [\n, [], \n, [ENG], \n]  [349]
3     [\n, [Deepti Sharma], \n]  [\n, [], \n, [IND], \n]  [343]
4     [\n, [Jess Jonassen], \n]  [\n, [], \n, [AUS], \n]  [307]
5  [\n, [Ashleigh Gardner], \n]  [\n, [], \n, [AUS], \n]  [252]
6  [\n, [Dane van Niekerk], \n]   [\n, [], \n, [SA], \n]  [243]
7     [\n, [Sophie Devine], \n]   [\n, [], \n, [NZ], \n]  [242]
8       [\n, [Amelia Kerr], \n]   [\n, [], \n, [NZ], \n]  [236]
9   [\n, [Katherine Brunt], \n]  [\n, [], \n, [ENG], \n]  [236]

# 7)  a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in

In [409]:
SMARTPHONES

,NAME,PRICE,RATING
0,"[Redmi Note 10 (Shadow Black, 4GB RAM, 64GB St...","[12,499]",[[4.0 out of 5 stars]]
1,"[Redmi Note 10 (Aqua Green, 4GB RAM, 64GB Stor...","[12,499]",[[4.0 out of 5 stars]]
2,"[Samsung Galaxy M12 (Blue,4GB RAM, 64GB Storag...","[10,999]",[[4.0 out of 5 stars]]
3,"[Redmi Note 10 (Aqua Green, 6GB RAM, 128GB Sto...","[14,499]",[[4.0 out of 5 stars]]
4,"[Samsung Galaxy M12 (Black,4GB RAM, 64GB Stora...","[10,999]",[[4.0 out of 5 stars]]
5,"[Oppo A31 (Fantasy White, 6GB RAM, 128GB Stora...","[10,990]",[[4.2 out of 5 stars]]
6,"[Redmi 9 Power (Blazing Blue, 4GB RAM, 64GB St...","[10,499]",[[4.2 out of 5 stars]]
7,"[Redmi Note 9 (Arctic White, 4GB RAM, 64GB Sto...","[10,999]",[[4.0 out of 5 stars]]
8,"[Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128G...","[14,999]",[[4.2 out of 5 stars]]
9,"[Redmi Note 10 (Shadow Black, 6GB RAM, 128GB S...","[14,499]",[[4.1 out of 5 stars]]
10,"[Redmi Note 9 Shadow Black, 4GB RAM, 64GB Stor...","[10,999]",[[4.2 out of 5 stars]]
11,"[Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Stora...","[10,999]",[[4.2 out of 5 stars]]
12,"[Oppo A31 (Mystery Black, 6GB RAM, 128GB Stora...","[10,990]",[[4.0 out of 5 stars]]
13,"[Redmi Note 10 Pro (Dark Night, 6GB RAM, 128GB...","[16,999]",[[4.0 out of 5 stars]]

# 8) python program to extract information about the local weather from the National Weather Service

In [410]:
weather_forcast

,PERIOD,SHORT DESCRIPTION,DETAIL DESCRIPTION WITH TEMPRATURE IN FAHRENHEIT
0,"[Today, [], []]","[Mostly Sunny, [], then Sunny, [], and Breezy]","[Mostly cloudy through mid morning, then gradu..."
1,"[Tonight, [], []]",[Mostly Clear],"[Mostly clear, with a low around 49. West sout..."
2,"[Wednesday, [], []]","[Sunny then, [], Sunny and, [], Breezy]","[Sunny, with a high near 65. Breezy, with a we..."
3,"[Wednesday, [], Night]","[Mostly Clear, [], and Breezy]","[Mostly clear, with a low around 49. Breezy, w..."
4,"[Thursday, [], []]","[Sunny and, [], Breezy]","[Sunny, with a high near 67. Breezy, with a we..."
5,"[Thursday, [], Night]","[Mostly Clear, [], and Breezy, [], then Partly...","[Mostly clear, with a low around 51. Breezy. ]"
6,"[Friday, [], []]",[Sunny],"[Sunny, with a high near 65.]"

# 9)a python program to scrape fresher job listings from ‘https://internshala.com

In [53]:
JOBS_DATA

,JOBS,COMPANY,CTC,APPLY BY
0,"[\n, [Talent Acquisition Executive], ]",[\n CrewKarma ...,"[\n, [Starts ], Immediately\n ...",Start date ...
1,"[\n, [Full Stack Developer], ]",[\n Codfirm ...,"[\n, [], 3 - 5 LPA ...",Apply By24 Jun' 21
2,"[\n, [Backend Developer], ]",[\n WebMOBI ...,[24 Jun' 21],Start date ...
3,"[\n, [Full Stack Developer], ]",[\n TMBill Software ...,"[\n, [Starts ], Immediately\n ...",Apply By24 Jun' 21
4,"[\n, [Junior Sales Associate], ]",[\n Kraftshala ...,"[\n, [], 5 - 8 LPA ...",Start date ...
5,"[\n, [Digital Marketing Specialist], ]",[\n Black Jack ...,[24 Jun' 21],Apply By24 Jun' 21
6,"[\n, [Android App Developer], ]",[\n Storlyy ...,"[\n, [Starts ], Immediately\n ...",Start date ...
7,"[\n, [Associate Data Scientist], ]",[\n Softsensor.ai ...,"[\n, [], 3 LPA ...",Apply By24 Jun' 21
8,"[\n, [Junior Software Developer], ]",[\n ZoryBoard Software ...,[24 Jun' 21],Start date ...
9,"[\n, [Associate Software Developer], ]",[\n SNet Labs Private L...,"[\n, [Starts ], Immediately\n ...",Apply By24 Jun' 21
10,"[\n, [Full Stack Developer], ]",[\n RavGins Internation...,"[\n, [], 3 LPA ...",Start date ...
11,"[\n, [Operations Executive], ]",[\n TutorBin ...,[24 Jun' 21],Apply By24 Jun' 21
12,"[\n, [Associate UI/UX Designer], ]",[\n RavGins Internation...,"[\n, [Starts ], Immediately\n ...",Start date ...
13,"[\n, [Web Development Trainee], ]",[\n Softsensor.ai ...,"[\n, [], 4 LPA ...",Apply By23 Jun' 21
14,"[\n, [Business Development Executive], ]",[\n Square Select Estat...,[24 Jun' 21],Start date ...
15,"[\n, [Full Stack Flutter Developer], ]",[\n HeartShirt ...,"[\n, [Starts ], Immediately\n ...",Apply By24 Jun' 21
16,"[\n, [Associate Software Developer], ]",[\n Labellerr By Tensor...,"[\n, [], 3 - 5 LPA ...",Start date ...
17,"[\n, [Hardware Simulation Engineer], ]",[\n Keysight Technologi...,[24 Jun' 21],Apply By20 Jun' 21
18,"[\n, [Graphic Designer], ]",[\n Cynfas ...,"[\n, [Starts ], Immediately\n ...",Start date ...
19,"[\n, [Marketing Analyst], ]",[\n Exhilar Innovative ...,"[\n, [], 3 - 3.5 LPA ...",Apply By20 Jun' 21
20,"[\n, [Mobile App Developer], ]",[\n Wow Labz ...,[23 Jun' 21],Start date ...
21,"[\n, [Software Engineer - AI(NLP)/Front-end(An...",[\n RapidKen.AI ...,"[\n, [Starts ], Immediately\n ...",Apply By20 Jun' 21
22,"[\n, [Corporate Sales Executive], ]",[\n Twin Health ...,"[\n, [], 4 - 8 LPA ...",Start date ...
23,"[\n, [Software Tester], ]",[\n Lattice Innovations...,[24 Jun' 21],Apply By20 Jun' 21
24,"[\n, [Mobile App Developer], ]",[\n Fusion Engineering ...,"[\n, [Starts ], Immediately\n ...",Start date ...
25,"[\n, [Junior Backend Developer], ]",[\n VPODS.ai ...,"[\n, [], 3 - 4 LPA ...",Apply By20 Jun' 21
26,"[\n, [Social Media Strategist And Copywriter], ]",[\n Internshala ...,[20 Jun' 21],Start date ...
27,"[\n, [Junior UI Designer], ]",[\n Phionike Solutions ...,"[\n, [Starts ], Immediately\n ...",Apply By20 Jun' 21
28,"[\n, [Customer Service Executive], ]",[\n Verzeo ...,"[\n, [], 3 - 3.2 LPA ...",Start date ...
29,"[\n, [Business Development Associate], ]",[\n Erikka India ...,[20 Jun' 21],Apply By19 Jun' 21
30,"[\n, [JavaScript Developer], ]",[\n Inflolabs ...,"[\n, [Starts ], Immediately\n ...",Start date ...
31,"[\n, [Software Engineer], ]",[\n CrewKarma ...,"[\n, [], 3.3 - 4 LPA ...",Apply By19 Jun' 21
32,"[\n, [Business Development Manager (Inside Sal...",[\n Vedic Maths Forum I...,[20 Jun' 21],Start date ...
33,"[\n, [Proposal & Marketing Engineer], ]",[\n EnWe Clean Technolo...,"[\n, [Starts ], Immediately\n ...",Apply By23 Jun' 21
34,"[\n, [Software Engineer Trainee], ]",[\n RightRev India Priv...,"[\n, [], 3.6 - 3.84 LPA ...",Start date ...
35,"[\n, [Associate Software Developer], ]",[\n Shashank B ...,[20 Jun' 21],Apply By19 Jun' 21
36,"[\n, [Office Manager], ]",[\n Wono Inc ...,"[\n, [Starts ], Immediately\n ...",Start date ...
37,"[\n, [Technical Recruiter], ]",[\n Wono Inc ...,"[\n, [], 3 - 4 LPA ...",Apply By17 Jun' 21
38,"[\n, [Administrative Assistant], ]",[\n Wono Inc ...,[20 Jun' 21],Start date ...
39,"[\n, [Web Developer], ]",[\n Wono Inc ...,"[\n, [Starts ], Immediately\n ...",Apply By17 Jun' 21