In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda2\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\programdata\anaconda2\lib\site-packages (from selenium) (1.26.4)

# importing libraries

In [3]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

# Q1) Write a python program which searches all the product under a particular product from
www.amazon.in. The product to be searched will be taken as input from user. For e.g. If user 
input is ‘guitar’. Then search for guitars.

In [4]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

In [58]:
url = "http://www.amazon.in/"
driver.get(url)

In [43]:
# Locating the search bar
search_bar = driver.find_element_by_id("twotabsearchtextbox") 
search_bar.clear()
search_bar.send_keys("laptops")

In [44]:
#locating the button and clicking it toh search for sunglasses
time.sleep(2)

button=driver.find_element_by_id('nav-search-submit-button')
button.click()

# Q2) In the above question, now scrape the following details of each product listed in first 3 pages 
of your search results and save it in a dataframe and csv. In case if any product has less than 3 
pages in search results then scrape all the products available under that product vertical. 
Details to be scraped are: "Brand Name", "Name of the Product", "Rating", "No. of Ratings", 
"Price", "Return/Exchange", "Expected Delivery", "Availability", "Other Details" and 
“Product URL”. In case, if any of the details are missing for any of the product then replace it 
by “-

In [46]:
# creating the empty list

Name=[]
rating=[]
n_rating=[]
Price=[]
exchange=[]
avail=[]
detail=[]
p_url=[]
delivery=[]

In [47]:
# scrapping detail
start=0
end=3
for page in range(start,end):
    names=driver.find_elements_by_class_name('a-size-medium a-color-base a-text-normal')
    for i in names:
        Name.append(i.text)
    prices=driver.find_elements_by_class_name('a-price-whole')
    for i in prices:
        Price.append(i.text)
    delv=driver.find_elements_by_class_name('a-text-bold')
    for i in delv:
        delivery.append(i.text)
    no=driver.find_elements_by_class_name('a-size-base')
    for i in no:
        n_rating.append(i.text)
    nxt_button=driver.find_elements_by_xpath("//li[@class='a-normal']/a")
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [59]:
# scrapping names
start=0
end=3
for page in range(start,end):
    names=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
    for i in names:
        Name.append(i.text)
    nxt_button=driver.find_elements_by_xpath("//li[@class='a-normal']/a")
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [62]:
# scrapping product url
start=0
end=3
for page in range(start,end):
    pro=driver.find_elements_by_class_name("a-aui_72554-c a-aui_accordion_a11y_role_354025-c a-aui_button_aria_label_markup_348458-t1 a-aui_csa_templates_buildin_ww_exp_337518-c a-aui_csa_templates_buildin_ww_launch_337517-c a-aui_csa_templates_declarative_ww_exp_337521-c a-aui_csa_templates_declarative_ww_launch_337520-c a-aui_dynamic_img_a11y_markup_345061-t1 a-aui_launch_cardui_a11y_fix_346896-c a-aui_markup_disabled_link_btn_351411-c a-aui_mm_desktop_exp_v2_353724-c a-aui_mm_desktop_gate_v2_353720-c a-aui_mm_desktop_targeted_exp_291928-c a-aui_mm_desktop_targeted_launch_291922-c a-aui_pci_risk_banner_210084-c a-aui_popover_trigger_add_role_350993-c a-aui_preload_261698-c a-aui_rel_noreferrer_noopener_309527-c a-aui_template_weblab_cache_333406-c a-aui_tnr_v2_180836-c")
    for i in pro:
        p_url.append(i.text)
    nxt_button=driver.find_elements_by_xpath("//li[@class='a-normal']/a")
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [55]:
#locating Ratings

urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
UR=[]
for i in urls:
    UR.append(i.get_attribute('href'))
for url in UR:
    driver.get(url)
    try:
        ratings=driver.find_element_by_xpath("//span[@class='a-size-base a-nowrap']//span")
        rating.append(ratings.text)
    except NoSuchElementException:
        rating.append("NO rating")

In [70]:
start=0
end=3
for page in range(start,end):
    stck=driver.find_elements_by_class_name("a-size-small a-color-price")
    for i in stck:
        avail.append(i.text)
    nxt_button=driver.find_elements_by_xpath("//li[@class='a-normal']/a")
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [66]:
# creating dataframe
data=pd.DataFrame({})
data['Name and Details']=Name
data['Price']=Price
data['Rating']=rating
data['Number of Rating']=n_rating
data['Delivery by']=delivery

In [67]:
data

,Name and Details,Price,Rating,Number of Rating,Delivery by
0,(Renewed) Dell Intel Core i7 4th Gen 14 Inch(3...,"54,999",3 out of 5,"1-24 of 393 results for ""laptops""\nSort by:\nF...","""laptops"""
1,"HP Pavilion x360 (2021) 14"" (35.56cms) FHD Tou...","76,990",NO rating,Shop now,"Monday, July 5"
2,HP Pavilion (2021) Thin & Light 11th Gen Core ...,"84,990",3.7 out of 5,"₹54,999\n₹1,20,000 Save ₹65,001 (54%)","Saturday, July 3"
3,HP Pavilion Gaming(2021) 10th Gen Intel Core i...,"90,990",3.7 out of 5,"₹54,999\n₹1,20,000","Friday, July 2"
4,(Renewed) Dell Intel Core i7 4th Gen 14 Inch(3...,"45,999",NO rating,"Get it by Monday, July 5\nFREE Delivery by Amazon","Monday, July 5"
5,HP Pavilion Gaming 10th Gen Intel Core i7 Proc...,"86,990",NO rating,Only 1 left in stock.,"Monday, July 5"
6,(Renewed) Dell Intel Core i7 4th Gen 14 Inch(3...,"42,999",NO rating,40,"Sunday, July 4"
7,Mi Notebook Horizon Edition 14 Intel Core i7-1...,"59,999",NO rating,"₹76,990\n₹89,999 Save ₹13,009 (14%)","Monday, July 5"
8,(Renewed) Dell Intel Core i7 4th Gen 14 Inch(3...,"49,999",NO rating,"₹76,990\n₹89,999","Monday, July 5"
9,ASUS VivoBook S S14 Intel Core i7-1165G7 11th ...,"77,990",NO rating,Save extra with No Cost EMI,"Saturday, July 3"
10,"Lenovo Yoga 7 11th Gen Intel Core i7 14"" (35.5...","96,004",3.8 out of 5,"Get it by Saturday, July 3\nFREE Delivery by A...","Sunday, July 4"
11,(Renewed) Dell Intel Core i7 4th Gen 14 Inch(3...,"39,999",3.8 out of 5,116,"Monday, July 5"
12,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,"40,932",NO rating,"₹84,990\n₹99,412 Save ₹14,422 (15%)","Friday, July 2"
13,Dell XPS 7390 13.3-inch (33.78 cms) UHD Displa...,"1,64,990",NO rating,"₹84,990\n₹99,412","Sunday, July 4"
14,"MSI GE75 Raider 10SFS 17.3"" FHD Gaming Laptop ...","1,79,990",4.6 out of 5,Save extra with No Cost EMI,"Saturday, July 3"
15,(Renewed) Dell Latitude E7270 12.5 inch Laptop...,"49,999",4.6 out of 5,"Get it by Friday, July 2\nFREE Delivery by Amazon","Tuesday, July 6"
16,Lenovo Legion 5 10th Gen Intel Core i7 15.6 in...,"1,18,700",NO rating,"More Buying Choices\n₹84,989(7 new offers)","Monday, July 5"
17,Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...,"1,04,990",NO rating,More Buying Choices,"Sunday, July 4"
18,HP Envy x360 Convertible Touchscreen 13.3-inch...,"1,50,000",NO rating,"₹90,990\n₹1,48,650 Save ₹57,660 (39%)","Tuesday, July 6"
19,"ASUS ROG Zephyrus S15 (2020), 15.6"" FHD 300Hz/...","83,990",NO rating,"₹90,990\n₹1,48,650","Wednesday, July 7"
20,"MSI GF65 Thin, Intel i7-10750H, 15.6"" FHD (39....","42,999",4.5 out of 5,"Get it by Monday, July 5\nFREE Delivery by Amazon","Monday, July 5"
21,(Renewed) Dell Intel Core i7 4th Gen 14 Inch(3...,"1,39,016",4.5 out of 5,"₹45,999\n₹1,20,000 Save ₹74,001 (62%)","Monday, July 5"
22,Microsoft Laptop 2 1769 13.5-inch Laptop (Inte...,"79,990",3 out of 5,"₹45,999\n₹1,20,000","Sunday, July 4"
23,Dell Inspiron 15 Gaming 7567 15.6-inch Laptop ...,"50,989",2 out of 5,"Get it by Monday, July 5\nFREE Delivery by Amazon",Department
24,(Renewed) Dell Intel Core i7 4800MQ 15.2-Inch ...,"34,390",NO rating,Only 2 left in stock.,Laptops
25,(Renewed) Dell Latitude E6540 Laptop (CORE I7 ...,"68,500",NO rating,35,Avg. Customer Review
26,(Renewed) HP Intel 7th Gen Core i7 7500U 13.3-...,"1,05,490",2.8 out of 5,"₹86,990\n₹1,03,279.50 Save ₹16,289.50 (16%)",Brand
27,Lenovo ThinkPad E15 (2021) Intel Core i7 11th ...,"78,699",3.9 out of 5,"₹86,990\n₹1,03,279.50",Price
28,(Renewed) Dell Intel 6th Gen Core i7-6820HQ 15...,"95,732",3.7 out of 5,Save extra with No Cost EMI,Deals
29,Dell Inspiron 5501 15.6 Inch FHD Laptop (10th ...,"1,59,990",3.7 out of 5,"Get it by Sunday, July 4\nFREE Delivery by Amazon",CPU Type
30,"ASUS ROG Zephyrus S15 (2020), 15.6"" FHD 300Hz/...","46,999",4.4 out of 5,"₹42,999\n₹1,20,000 Save ₹77,001 (64%)",Intel Core i7
31,(Renewed) Lenovo T430 14-inch Laptop (Core i7/...,"1,07,990",4.4 out of 5,"₹42,999\n₹1,20,000",Intel Core i9
32,"ASUS TUF Dash F15 (2021), 15.6"" (39.62 cms) FH...","1,21,488",4.4 out of 5,"Get it by Monday, July 5\nFREE Delivery by Amazon",Maximum CPU Speed
33,"Lenovo Yoga Slim 7i Carbon i7 13.3"" QHD Thin a...","1,47,490",4.4 out of 5,896,Laptop Usage
34,"ASUS ZenBook Flip S OLED, Intel Evo Core i7-11...","2,69,990",4.3 out of 5,"₹59,999\n₹67,498 Save ₹7,499 (11%)",Operating System
35,Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...,"2,62,998",4.3 out of 5,"₹59,999\n₹67,498",Memory Size
36,(Renewed) Dell Latitude E7470 14 inch Laptop C...,"76,599",4 out of 5,FREE Delivery by Amazon,HDD Size
37,(Renewed) Lenovo T430 14-inch Laptop (Core i7/...,"45,499",4 out of 5,"₹49,999\n₹1,20,000 Save ₹70,001 (58%)",Storage Type
38,"ASUS ROG Strix Scar 17 (2020), 17.3"" FHD 300Hz...","64,499",NO rating,"₹49,999\n₹1,20,000",Features
39,(Renewed) Dell Intel 6th Gen Core i7-6820HQ 15...,"50,999",NO rating,"Get it by Monday, July 5\nFREE Delivery by Amazon",Laptop Type
40,(Renewed) Dell Intel 4th Gen Core i7 4600U 14-...,"92,100",4.3 out of 5,125,Laptop Weight
41,"Dell Inspiron 5406 14"" FHD Touch Display 2in1 ...","51,799",4.3 out of 5,"₹77,990\n₹98,990 Save ₹21,000 (21%)",Battery Life
42,(Renewed) Dell Latitude E7240 12.5-inch Laptop...,"1,20,605",4.2 out of 5,"₹77,990\n₹98,990",Graphics Processor
43,"ASUS ROG Strix G17, 17.3"" (43.94 cms) FHD 144H...","80,990",4.2 out of 5,Save extra with No Cost EMI,CPU Manufacturer
44,"Dell 12.3"" Latitude 7200 Multi-Touch 2-in-1 La...","84,084",3.5 out of 5,"Get it by Saturday, July 3\nFREE Delivery by A...",Laptop Display Size
45,(Renewed) HP Intel Core i7 6700HQ 15.6-Inch (3...,"84,990",3.5 out of 5,19,Item Condition
46,ASUS ZenBook 14 UX433FA-A6111T 14-inch FHD Thi...,"90,490",4.6 out of 5,"₹96,004\n₹1,39,890 Save ₹43,886 (31%)",Discount
47,Lenovo Ideapad 720s Intel Core i7 8th Gen 13.3...,"86,290",4.6 out of 5,"₹96,004\n₹1,39,890",Pay On Delivery
48,Lenovo ThinkPad E15 (2021) Intel Core i7 11th ...,"84,990",4.6 out of 5,Save extra with No Cost EMI,Seller
49,"Dell G3 3500 Gaming Laptop 15.6"" (39.62cms) FH...","1,55,000",4.6 out of 5,"Get it by Sunday, July 4\nFREE Delivery by Amazon",Availability

# Q3) Write a python program to access the search bar and search button on images.google.com and 
scrape 100 images each for keywords ‘fruits’, ‘cars’ and ‘Machine Learning’.

In [67]:
url = "https://www.google.com/imghp?tbm=isch&ved=2ahUKEwjAs8v44LnxAhW5F7cAHRuBCzsQ2-cCegQIABAA&oq=&gs_lcp=CgNpbWcQAzIFCAAQsQMyBQgAELEDMgUIABCxAzICCAAyAggAMgIIADIICAAQsQMQgwEyBQgAELEDMgIIADICCAA6BAgAEEM6BwgAELEDEEM6CggAELEDEIMBEENQ4YITWK2rE2CLrRNoAHAAeAOAAaQEiAGIG5IBCjAuMTcuMS41LTGYAQCgAQGqAQtnd3Mtd2l6LWltZ7ABAMABAQ&sclient=img&ei=ynPZYMCmF7mv3LUPm4Ku2AM&bih=710&biw=1536"
driver.get(url)

In [60]:
# loacting search bar 
# fruits
frt=driver.find_element_by_xpath("//div[@class='a4bIc']/input")
frt.send_keys('fruits')

In [61]:
# clicking search button for fruits
frt_btn=driver.find_element_by_xpath("//button[@class='Tg7LZd']")
frt_btn.click()

In [62]:
# scrapping detail for fruits
fruits=[]
for i in driver.find_elements_by_xpath("//div[@class='bRMDJf islir']/img"):
    fruits.append(i.get_attribute('src'))

In [64]:
# loacting search bar 
# cars
car=driver.find_element_by_xpath("//div[@class='a4bIc']/input")
car.send_keys('cars')

In [65]:
# clicking search button for cars
car_btn=driver.find_element_by_xpath("//button[@class='Tg7LZd']")
car_btn.click()

In [66]:
# scrapping detail for cars
cars=[]
for i in driver.find_elements_by_xpath("//div[@class='bRMDJf islir']/img"):
    cars.append(i.get_attribute('src'))

In [68]:
# loacting search bar 
# machine learning
ml=driver.find_element_by_xpath("//div[@class='a4bIc']/input")
ml.send_keys('machine learning')

In [69]:
# clicking search button for cars
ml_btn=driver.find_element_by_xpath("//button[@class='Tg7LZd']")
ml_btn.click()

In [70]:
machine_learning=[]
for i in driver.find_elements_by_xpath("//div[@class='bRMDJf islir']/img"):
    machine_learning.append(i.get_attribute('src'))

In [71]:
img=pd.DataFrame({})
img['Fruits']=fruits
img['Cars']=cars
img['Machine Learning']=machine_learning

In [72]:
img

,Fruits,Cars,Machine Learning
0,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
1,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
2,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
3,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
4,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
5,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
6,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
7,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
8,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
9,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
10,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
11,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
12,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
13,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
14,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
15,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
16,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
17,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
18,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
19,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
20,None,None,None
21,None,None,None
22,None,None,None
23,None,None,None
24,None,None,None
25,None,None,None
26,None,None,None
27,None,None,None
28,None,None,None
29,None,None,None
30,None,None,None
31,None,None,None
32,None,None,None
33,None,None,None
34,None,None,None
35,None,None,None
36,None,None,None
37,None,None,None
38,None,None,None
39,None,None,None
40,None,None,None
41,None,None,None
42,None,None,None
43,None,None,None
44,None,None,None
45,None,None,None
46,None,None,None
47,None,None,None

# Q4) Write a python program to search for a smartphone(e.g.: Oneplus Nord, pixel 4A, etc.) on 
www.flipkart.com and scrape following details for all the search results displayed on 1st page. 
Details to be scraped: “Brand Name”, “Smartphone name”, “Colour”, “RAM”, 
“Storage(ROM)”, “Primary Camera”, “Secondary Camera”, “Display Size”, “Display 
Resolution”, “Processor”, “Processor Cores”, “Battery Capacity”, “Price”, “Product URL”. In 
case if any of the details is missing then replace it by “- “. Save your results in a dataframe 
and CSV.

In [49]:
url = "http://www.flipkart.com/"
driver.get(url)
time.sleep(6)

In [50]:
# Entering Iphone 12 in search field
search_field=driver.find_element_by_class_name("_3704LK")
search_field.send_keys("Iphone 12")

In [51]:
# clicking the search button
search_button=driver.find_element_by_class_name("L0Z3Pu")
search_button.click()

In [54]:
# creating empty list
brand=[]
smartphone=[]
ram=[]
rom=[]
p_camera=[]
s_camera=[]
display=[]
display_r=[]
processor=[]
processor_c=[]
battery=[]
price=[]
p_url=[]
discount=[]

In [98]:
# scrapping details
brands=driver.find_elements_by_class_name("_4rR01T")
for i in brands:
    if i.text is None :
        brand.append("--") 
    else:
        brand.append(i.text)
        
        
smartphones=driver.find_elements_by_class_name("_4rR01T")
for i in smartphones:
    if i.text is None :
        smartphone.append("--") 
    else:
        smartphone.append(i.text)
        
        
ROM=driver.find_elements_by_class_name('_1xgFaf')
for i in ROM:
    if i.text is None :
        rom.append("--") 
    else:
        rom.append(i.text)
        
prices=driver.find_elements_by_xpath("//div[@class='_30jeq3 _1_WHN1']")
for i in prices:
    if i.text is None :
        price.append("--") 
    else:
        price.append(i.text)
                        
                
        
discounts=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
for i in discounts:
    if i.text is None :
        discount.append("--") 
    else:
        discount.append(i.text)

In [99]:
# making dataframe
mobiles=pd.DataFrame({})
mobiles['Brand,Color and RAM']=brand
mobiles['Smartphone Name']=smartphone
mobiles['Price']=price
mobiles['Discount']=discount
mobiles['All deatails, RAM, Camera, Display, Processor, Battery, etc']=rom

In [100]:
mobiles

,"Brand,Color and RAM",Smartphone Name,Price,Discount,"All deatails, RAM, Camera, Display, Processor, Battery, etc"
0,"APPLE iPhone 12 (Black, 128 GB)","APPLE iPhone 12 (Black, 128 GB)","₹82,900",2% off,128 GB ROM
1,"APPLE iPhone 12 (White, 128 GB)","APPLE iPhone 12 (White, 128 GB)","₹82,900",2% off,15.49 cm (6.1 inch) Super Retina XDR Display
2,"APPLE iPhone 12 (Blue, 64 GB)","APPLE iPhone 12 (Blue, 64 GB)","₹77,900",2% off,12MP + 12MP | 12MP Front Camera
3,"APPLE iPhone 12 (Green, 128 GB)","APPLE iPhone 12 (Green, 128 GB)","₹82,900",2% off,A14 Bionic Chip with Next Generation Neural En...
4,"APPLE iPhone 12 (Black, 64 GB)","APPLE iPhone 12 (Black, 64 GB)","₹77,900",2% off,Ceramic Shield
5,"APPLE iPhone 12 (Red, 128 GB)","APPLE iPhone 12 (Red, 128 GB)","₹82,900",2% off,IP68 Water Resistance
6,"APPLE iPhone 12 (Red, 64 GB)","APPLE iPhone 12 (Red, 64 GB)","₹77,900",2% off,All Screen OLED Display
7,"APPLE iPhone 12 (Green, 256 GB)","APPLE iPhone 12 (Green, 256 GB)","₹92,900",2% off,Brand Warranty for 1 Year
8,"APPLE iPhone 12 (White, 256 GB)","APPLE iPhone 12 (White, 256 GB)","₹92,900",2% off,128 GB ROM
9,"APPLE iPhone 12 (Black, 256 GB)","APPLE iPhone 12 (Black, 256 GB)","₹92,900",2% off,15.49 cm (6.1 inch) Super Retina XDR Display
10,"APPLE iPhone 12 (Red, 256 GB)","APPLE iPhone 12 (Red, 256 GB)","₹92,900",2% off,12MP + 12MP | 12MP Front Camera
11,"APPLE iPhone 12 (White, 64 GB)","APPLE iPhone 12 (White, 64 GB)","₹77,900",2% off,A14 Bionic Chip with Next Generation Neural En...
12,"APPLE iPhone 11 (Black, 64 GB)","APPLE iPhone 11 (Black, 64 GB)","₹49,999",8% off,Ceramic Shield
13,"APPLE iPhone 12 (Blue, 128 GB)","APPLE iPhone 12 (Blue, 128 GB)","₹82,900",2% off,IP68 Water Resistance
14,"APPLE iPhone 12 (Purple, 64 GB)","APPLE iPhone 12 (Purple, 64 GB)","₹79,900",2% off,All Screen OLED Display
15,"APPLE iPhone 12 (Blue, 256 GB)","APPLE iPhone 12 (Blue, 256 GB)","₹92,900",2% off,Brand Warranty for 1 Year
16,"APPLE iPhone 12 (Green, 64 GB)","APPLE iPhone 12 (Green, 64 GB)","₹77,900",3% off,64 GB ROM
17,"APPLE iPhone 12 (Purple, 256 GB)","APPLE iPhone 12 (Purple, 256 GB)","₹94,900",2% off,15.49 cm (6.1 inch) Super Retina XDR Display
18,"APPLE iPhone 12 (Purple, 128 GB)","APPLE iPhone 12 (Purple, 128 GB)","₹84,900",2% off,12MP + 12MP | 12MP Front Camera
19,"APPLE iPhone 12 Pro (Pacific Blue, 256 GB)","APPLE iPhone 12 Pro (Pacific Blue, 256 GB)","₹1,25,900",2% off,A14 Bionic Chip with Next Generation Neural En...
20,"APPLE iPhone 12 Mini (White, 128 GB)","APPLE iPhone 12 Mini (White, 128 GB)","₹72,900",2% off,Ceramic Shield

# Q5) Write a program to scrap geospatial coordinates (latitude, longitude) of a city searched on 
google maps.

In [26]:
url = "https://www.google.co.in/maps/@10.8091781,78.2885026,7z"
driver.get(url)
time.sleep(6)

In [27]:
# seacrching place
Place = driver.find_element_by_class_name("tactile-searchbox-input")
Place.send_keys('leh')

In [28]:
# clicking
submit= driver.find_element_by_xpath("/html/body/jsl/div[3]/div[9]/div[3]/div[1]/div[1]/div[1]/div[2]/div[1]/button")
submit.click()

In [35]:
#getting current url
driver.current_url

'https://www.google.co.in/maps/place/Leh/@34.1662418,77.4966977,12z/data=!4m5!3m4!1s0x38fdeb21445fed85:0xd1bb09975086f710!8m2!3d34.1525864!4d77.5770535'

In [43]:
# scrapping detail
latitude_and_longitude=[]
for i in driver.find_elements_by_xpath("//button[@aria-label='34.151200, 77.553863']"):
    latitude_and_longitude.append(i.text)

In [44]:
latitude_and_longitude

['34.151200, 77.553863']

In [47]:
# creating data frame
lat_long=pd.DataFrame({})
lat_long['Latitude and Longitude of Leh Ladakh']=latitude_and_longitude

In [48]:
lat_long

  Latitude and Longitude of Leh Ladakh
0                 34.151200, 77.553863

# Q6) Write a program to scrap details of all the funding deals for second quarter (i.e. July 20 –
September 20) from trak.in

In [53]:
url = "https://trak.in/india-startup-funding-investment-2015/"
driver.get(url)
time.sleep(6)

In [107]:
# Creating empty list
sr_no=[]
date=[]
startup=[]
vertical=[]
sub_vertical=[]
city=[]
investor_name=[]
investor_type=[]
amount=[]

In [109]:
# scrapping details
# july 2020 to september2020(down to up)
sr=driver.find_elements_by_class_name('column-1')
for i in sr:
    if i.text is None :
        sr_no.append("--") 
    else:
        sr_no.append(i.text)
        

        
dt=driver.find_elements_by_class_name('column-2')                                       
for i in dt:
    if i.text is None :
        date.append("--") 
    else:
        date.append(i.text)
        
        
strt=driver.find_elements_by_class_name('column-3')                                       
for i in strt:
    if i.text is None :
        startup.append("--") 
    else:
        startup.append(i.text)
        
vr=driver.find_elements_by_class_name('column-4')
for i in vr:
    if i.text is None :
        vertical.append("--") 
    else:
        vertical.append(i.text)
        

        
sv=driver.find_elements_by_class_name('column-5')                                       
for i in sv:
    if i.text is None :
        sub_vertical.append("--") 
    else:
        sub_vertical.append(i.text)
        
        
ct=driver.find_elements_by_class_name('column-6')                                       
for i in ct:
    if i.text is None :
        city.append("--") 
    else:
        city.append(i.text)

inv=driver.find_elements_by_class_name('column-7')                                       
for i in inv:
    if i.text is None :
        investor_name.append("--") 
    else:
        investor_name.append(i.text)
        
        
tp=driver.find_elements_by_class_name('column-8')                                       
for i in tp:
    if i.text is None :
        investor_type.append("--") 
    else:
        investor_type.append(i.text)
        

        
amnt=driver.find_elements_by_class_name('column-9')                                       
for i in amnt:
    if i.text is None :
        amount.append("--") 
    else:
        amount.append(i.text)

In [130]:
# creating data frame
deals=pd.DataFrame({})
deals['Sr_No']=sr_no[71:105]
deals['Date']=date[71:105]
deals['Startup']=startup[71:105]
deals['Industry/Vertical']=vertical[71:105]
deals['Sub Vertical']=sub_vertical[71:105]
deals['City']=city[71:105]
deals['Investor Name']=investor_name[71:105]
deals['Investor Type']=investor_type[71:105]
deals['Amount']=amount[71:105]

In [131]:
deals

,Sr_No,Date,Startup,Industry/Vertical,Sub Vertical,City,Investor Name,Investor Type,Amount
0,1,08/09/2020,Byju’s,EduTech,Online Tutoring,Bangalore,"Silver Lake, Tiger Global, General Atlantic an...",Private Equity,"500,000,000"
1,2,12/09/2020,mCaffeine,Personal Care,Skincare & Haircare,Mumbai,"Amicus Capital Private Equity I LLP, Amicus Ca...",Series B,"3,000,000"
2,3,09/09/2020,Qshala,EduTech,Online Curiosity Platform for Kids,Bangalore,Rainmatter Capital,Angel,"370,000"
3,4,02/09/2020,Winzo,Online Gaming,Online Gaming,New Delhi,"Kalaari Capital Partners, IndigoEdge Managemen...",Series B,"15,500,000"
4,5,09/09/2020,Hippo Video,Video Customer Experience(CX) Platform,Video Customer Experience(CX) Platform,"Newark, Delaware, United States of Amercia","Alpha Wave Incubation, Exfinity Venture Partne...",Series A,"4,500,000"
5,6,07/09/2020,Melorra,E-commerce,Online Jewelry Store,Bangalore,"Shadow Holdings, Lightbox.",Debt Financing,"upto 8,900,000"
6,7,07/09/2020,1mg,E-commerce,Online Pharmacy,Gurgaon,"Gaja Capital, Tata Capital, Partners Group",In Progress,"100,000,000"
7,8,31/08/2020,mfine,HealthTech,On-Demand Healthcare Services,Bangalore,Caretech Pte Inc,Series B,"5,400,000"
8,9,31/08/2020,Apna,Human Resources,Recruitment Platform,Bangalore,Lightspeed India and Sequoia Capital India,Series A,"8,000,000"
9,10,03/09/2020,Railofy,Transportation,WL & RAC protection platform,Mumbai,Chiratae Ventures,Seed,"950,000"
10,Sr. No.,Date (dd/mm/yyyy),Startup Name,Industry / Vertical,Sub-Vertical,City / Location,Investors' Name,Investment Type,Amount (In USD)
11,,,,,,,,,
12,1,15/08/2020,Practo,HealthTech,Health care and Wellness,Bangalore,A1A Company,Series F,"32,000,000"
13,2,13/08/2020,Medlife,E-commerce,Online Pharmacy,Bangalore,Prasid Uno Family Trust and SC Credit Fund,,"23,000,000"
14,3,13/08/2020,HungerBox,FoodTech,Online Food Delivery Service,Bangalore,"One97, Sabre Partners Trust, Pratithi Investme...",Series D1,"1,560,000"
15,4,04/08/2020,Dunzo,Hyper-local Logistics,Online Delivery Services,Bangalore,Existing Backers,In Progress,"30,000,000"
16,5,11/08/2020,Terra.do,EduTech,"Online Climate School, E-learning","Stanford, California,","Stanford Angels and Entrepreneurs (India), BEE...",Seed,"1,400,000"
17,6,12/08/2020,Classplus,EduTech,"E-learning, Online Tutoring",Noida,Falcon Edge,In Progress,"upto 15,000,000"
18,7,14/08/2020,Niyo,FinTech,Financial Services,Bangalore,Niyo Solutions Inc.,,"6,000,000"
19,8,10/08/2020,ZestMoney,FinTech,Financial Services,Bangalore,Primrose Hills Ventures,,"10,670,000"
20,9,07/08/2020,FreshToHome,E-commerce,Food Delivery,Bangalore,Ascent Capital,Venture,"16,200,000"
21,10,13/08/2020,Eduvanz,FinTech,Financial Services,Mumbai,"Sequoia India, Unitus",Series A,"5,000,000"
22,Sr. No.,Date (dd/mm/yyyy),Startup Name,Industry / Vertical,Sub-Vertical,City / Location,Investors' Name,Investment Type,Amount (In USD)
23,,,,,,,,,
24,1,15/07/2020,Flipkart,E-commerce,E-commerce,Bangalore,Walmart Inc,M&A,"1,200,000,000"
25,2,16/07/2020,Vedantu,EduTech,Online Tutoring,Bangalore,Coatue Management,Series D,"100,000,000"
26,3,16/07/2020,Crio,EduTech,Learning Platform for Developers,Bangalore,021 Capital,pre-Series A,"934,160"
27,4,14/07/2020,goDutch,FinTech,Group Payments,Mumbai,"Matrix India,Y Combinator, Global Founders Cap...",Seed,"1,700,000"
28,5,13/07/2020,Mystifly,Airfare Marketplace,"Ticketing, Airline Retailing, and Post-Ticketi...",Singapore and Bangalore,Recruit Co. Ltd.,pre-Series B,"3,300,000"
29,6,09/07/2020,JetSynthesys,Gaming and Entertainment,Gaming and Entertainment,Pune,Adar Poonawalla and Kris Gopalakrishnan.,Venture-Series Unknown,"400,000"
30,7,10/07/2020,gigIndia,Marketplace,"Crowd Sourcing, Freelance",Pune,Incubate Fund India and Beyond Next Ventures,pre-Series A,"974,200"
31,8,15/07/2020,PumPumPum,Automotive Rental,Used Car-leasing platform,Gurgaon,Early Adapters Syndicate,Seed,"292,800"
32,9,14/07/2020,FLYX,OTT Player,Streaming Social Network,New York and Delhi,"Raj Mishra, founder of AIT Global Inc",pre-Seed,"200,000"
33,10,13/07/2020,Open Appliances Pvt. Ltd.,Information Technology,Internet-of-Things Security Solutions,Bangalore,Unicorn India Ventures,Venture-Series Unknown,"500,000"

# Q7) Write a program to scrap all the available details of best gaming laptops from digit.in

In [4]:
url = "https://www.digit.in/top-products/best-budget-gaming-laptop-3591.html"
driver.get(url)

In [55]:
# Locating the search bar
search_field=driver.find_element_by_id('globalPageSearchText')
search_field.send_keys("best gaming laptops")

In [33]:
# creating empty list
name=[]
seller=[]
price=[]

In [36]:
# scrapping deatil
names=driver.find_elements_by_xpath("//div[@class='TopNumbeHeading sticky-footer']")
for i in names:
    if i.text is None :
        name.append("--") 
    else:
        name.append(i.text)
        

        
sell=driver.find_elements_by_class_name('smmerchant')                                       
for i in sell:
    if i.text is None :
        seller.append("--") 
    else:
        seller.append(i.text)
        
        
pri=driver.find_elements_by_class_name('smprice')                                       
for i in pri:
    if i.text is None :
        price.append("--") 
    else:
        price.append(i.text)

In [38]:
# creating Dataframe
lappy=pd.DataFrame({})
lappy['Name']=name
lappy['Seller']=seller
lappy['Price']=price
lappy

                                  Name  Seller   Price
0          2.\nMSI GF63 THIN 9SC-240IN     N/A  ₹54990
1          3.\nHP PAVILLION 15-BC512TX     N/A  ₹59990
2       4.\nACER NITRO 5 AN517-51-53JG  amazon  ₹73719
3   5.\nLENOVO LEGION Y7000 81V4000LIN     N/A  ₹59990
4   6.\nASUS TUF GAMING FX505DD-AL185T  amazon  ₹66990
5   7.\nHP PAVILION GAMING 15-EC0026AX  amazon  ₹57990
6   8.\nASUS TUF GAMING FX505DY-BQ024T  amazon  ₹62479
7   9.\nMI NOTEBOOK HORIZON EDITION 14  amazon  ₹54990
8  10.\nASUS VIVOBOOK 14 X412FJ-EK513T  amazon  ₹59999

# Q8) Write a python program to scrape the details for all billionaires from www.forbes.com. 
Details to be scrapped: “Rank”, “Name”, “Net worth”, “Age”, “Citizenship”, “Source”, 
“Industry”.

In [105]:
url = "https://www.forbes.com/billionaires/"
driver.get(url)
time.sleep(6)

In [108]:
# Creating empty list
rank=[]
name=[]
net_worth=[]
age=[]
citizenship=[]
industry=[]
source=[]

In [109]:
names=driver.find_elements_by_class_name('personName')
for i in names:
    if i.text is None :
        name.append("--") 
    else:
        name.append(i.text)
        
        
ranks=driver.find_elements_by_class_name("rank")
for i in ranks:
    if i.text is None :
        rank.append("--") 
    else:
        rank.append(i.text)
        
net=driver.find_elements_by_class_name('netWorth')
for i in net:
    if i.text is None :
        net_worth.append("--") 
    else:
        net_worth.append(i.text)
        
        
        
ages=driver.find_elements_by_class_name("age")
for i in ages:
    if i.text is None :
        age.append("--") 
    else:
        age.append(i.text)
        
        
        
citi=driver.find_elements_by_class_name("countryOfCitizenship")
for i in citi:
    if i.text is None :
        citizenship.append("--") 
    else:
        citizenship.append(i.text)
                        
            
ind=driver.find_elements_by_class_name("category")
for i in ind:
    if i.text is None :
        industry.append("--") 
    else:
        industry.append(i.text)        
        
        
src=driver.find_elements_by_class_name("source-column")
for i in src:
    if i.text is None :
        source.append("--") 
    else:
        source.append(i.text)

In [112]:
# creating data frame
list=pd.DataFrame({})
list['Rank']=rank
list['Name']=name
list['Age']=age
list['Net Worth']=net_worth
list['Citizenship']=citizenship
list['Source']=source
list['Industry']=industry
list

,Rank,Name,Age,Net Worth,Citizenship,Source,Industry
0,RANK,NAME,AGE,NET WORTH,COUNTRY / TERRITORY,Amazon,INDUSTRY
1,1.,Jeff Bezos,57,$177 B,United States,"Tesla, SpaceX",Technology
2,2.,Elon Musk,49,$151 B,United States,LVMH,Automotive
3,3.,Bernard Arnault & family,72,$150 B,France,Microsoft,Fashion & Retail
4,4.,Bill Gates,65,$124 B,United States,Facebook,Technology
...,...,...,...,...,...,...,...
195,195.,Viktor Rashnikov,72,$11.2 B,Russia,real estate,Manufacturing
196,195.,Harry Triguboff,88,$11.2 B,Australia,oil,Real Estate
197,197.,Leonid Fedun & family,65,$11.1 B,Russia,"real estate, shipping",Energy
198,197.,Eyal Ofer,70,$11.1 B,Israel,Snapchat,Diversified
199,197.,Evan Spiegel,30,$11.1 B,United States,banking,Technology

# Q9) Write a program to extract at least 500 Comments, Comment upvote and time when comment 
was posted from any YouTube Video.

In [4]:
url ="https://www.youtube.com/watch?v=RtO6vXgzPco"
driver.get(url)

In [9]:
# Creating empty list
comment=[]
upvote=[]

In [10]:
# scrapping comment first time

for item in range(500):
    comments=driver.find_elements_by_class_name('style-scope ytd-comment-renderer')
    for i in comments:
        comment.append(i.text)

In [12]:
# scrapping upvote first time
for item in range(500):
    upv=driver.find_elements_by_id('vote-count-middle')
    for i in upv:
        upvote.append(i.text)

In [25]:
# scrapping time
tim=[]
for item in range(500):
    tm=driver.find_elements_by_xpath("//yt-formatted-string[@class='published-time-text above-comment style-scope ytd-comment-renderer']/a")
    for i in tm:
        tim.append(i.text)

In [29]:
# Data Frame with time
video=pd.DataFrame({})
video['Comment']=comment[:500]
video['Comment Upvote']=upvote[500]
video[' Time since comment was posted']=tim[:500]
video

,Comment,Comment Upvote,Time since comment was posted
0,Pinned by T-Series\nTulsi Kumar\n1 day ago\nHe...,8,1 day ago
1,Hindi Romantic Songs\n7 hours ago\nMeri mummy ...,8,1 day ago
2,saurabh srivastava\n19 hours ago\nI am lucky I...,8,9 hours ago
3,Vikas 02\n2 hours ago\nHats off to all the bac...,8,3 hours ago
4,DHIRAJ TATHE\n18 hours ago\nWe missArijit sing...,8,19 hours ago
...,...,...,...
495,Hindi Romantic Songs\n7 hours ago\nMeri mummy ...,8,1 day ago
496,saurabh srivastava\n19 hours ago\nI am lucky I...,8,9 hours ago
497,Vikas 02\n2 hours ago\nHats off to all the bac...,8,3 hours ago
498,DHIRAJ TATHE\n18 hours ago\nWe missArijit sing...,8,19 hours ago
499,Bollywood Hindi Songs\n1 day ago\nEk like apni...,8,1 day ago

# Q10) Write a python program to scrape a data for all available Hostels from 
https://www.hostelworld.com/ in “London” location. You have to scrape hostel name, 
distance from city centre, ratings, total reviews, overall reviews, privates from price, dorms 
from price, facilities and property description.

In [57]:
url ="https://www.hostelworld.com/"
driver.get(url)
time.sleep(6)

In [58]:
# Locating the search bar
search_field=driver.find_element_by_id("search-input-field")
search_field.send_keys("london")

In [59]:
# clicking the search button
search_button=driver.find_element_by_id("search-button")
search_button.click()

In [62]:
# creating empty list
name=[]
distance=[]
rating=[]
total_review=[]
overall_review=[]
privates=[]
dorms=[]
facility=[]
description=[]

In [96]:
# scrapping detail
names=driver.find_elements_by_xpath("//h2[@class='title title-6']/a")
for i in names:
    if i.text is None :
        name.append("--") 
    else:
        name.append(i.text)
        
        
dist=driver.find_elements_by_class_name("description")
for i in dist:
    if i.text is None :
        distance.append("--") 
    else:
        distance.append(i.text)
        
ratings=driver.find_elements_by_xpath("//div[@class='rating rating-summary-container big']")
for i in ratings:
    if i.text is None :
        rating.append("--") 
    else:
        rating.append(i.text)
        
        
        
total=driver.find_elements_by_class_name("reviews")
for i in total:
    if i.text is None :
        total_review.append("--") 
    else:
        total_review.append(i.text)
        
        
        
pri=driver.find_elements_by_class_name("price title-5")
for i in pri:
    if i.text is None :
        privates.append("--") 
    else:
        privates.append(i.text)
                        
            
dr=driver.find_elements_by_class_name("price-col")
for i in dr:
    if i.text is None :
        dorms.append("--") 
    else:
        dorms.append(i.text)        
        
        
            
desc=driver.find_elements_by_class_name("keyword")
for i in desc:
    if i.text is None :
        description.append("--") 
    else:
        description.append(i.text)

In [97]:
# creating data frame
hostel=pd.DataFrame({})
hostel['Name']=name
hostel['Distace From The City Centre']=distance
hostel['Ratings']=rating
hostel['Total Review']=total_review
hostel['Drivates from price and Dorms from price,']=dorms
hostel['Description']=description

In [98]:
hostel

,Name,Distace From The City Centre,Ratings,Total Review,"Drivates from price and Dorms from price,",Description
0,St Christopher's Village,Hostel - 1.8km from city centre,8.9,10814 Total Reviews,Privates From\nRs4267,Superb
1,Generator London,Hostel - 3km from city centre,8.9\nFabulous\n10814 Total Reviews,6729 Total Reviews,Dorms From\nRs1538,NEW
2,"PubLove @ The Crown, Battersea",Hostel - 4.7km from city centre,7.5\nVery Good\n6729 Total Reviews,204 Total Reviews,Privates From\nRs8156,Fabulous
3,Leman House,Hostel - 3.6km from city centre,7.9\nVery Good\n204 Total Reviews,13 Total Reviews,Dorms From\nRs1962,Very Good
4,247london Hostel and Private Rooms,Hostel - 8.2km from city centre,No Rating\n13 Total Reviews,443 Total Reviews,Privates From\nRs4956,Very Good
5,"PubLove @ The Steam Engine, Waterloo",Hostel - 0.5km from city centre,No Rating\n443 Total Reviews,183 Total Reviews,Dorms From\nRs1239,No Rating
6,The London Home Hostel,Hostel - 3.6km from city centre,8.7\nFabulous\n183 Total Reviews,248 Total Reviews,Privates From\nRs5575,No Rating
7,Wombat's The City Hostel London,Hostel - 3.6km from city centre,7.7\nVery Good\n248 Total Reviews,13123 Total Reviews,No Dorms Available,Fabulous
8,Safestay London Elephant & Castle,Hostel - 1.7km from city centre,9.3\nSuperb\n13123 Total Reviews,3930 Total Reviews,Privates From\nRs5265,Very Good
9,"PubLove @ The Green Man, Paddington",Hostel - 4.3km from city centre,8.0\nFabulous\n3930 Total Reviews,391 Total Reviews,No Dorms Available,Superb
10,Astor Museum Inn,Hostel - 2.2km from city centre,6.9\nGood\n391 Total Reviews,8706 Total Reviews,Privates From\nRs16725,Fabulous
11,"PubLove @ The White Ferry, Victoria",Hostel - 2.4km from city centre,9.6\nSuperb\n8706 Total Reviews,128 Total Reviews,Dorms From\nRs1652,Good
12,Well Street Hall,Bed and Breakfast - 6.7km from city centre,9.1\nSuperb\n128 Total Reviews,0 Total Reviews,Privates From\nRs4130,Superb
13,Prime Backpackers Angel,Hostel - 3.6km from city centre,NEW\n0 Total Reviews,513 Total Reviews,Dorms From\nRs1631,Superb
14,Atlas Hostels,Hostel - 4.3km from city centre,10\nSuperb\n513 Total Reviews,193 Total Reviews,Privates From\nRs7916,NEW
15,No.8 Willesden Hostel London,Hostel - 10km from city centre,No Rating\n193 Total Reviews,4558 Total Reviews,Dorms From\nRs2420,Superb
16,SoHostel,Hostel - 2km from city centre,8.8\nFabulous\n4558 Total Reviews,3946 Total Reviews,Privates From\nRs3252,No Rating
17,The Walrus Hostel,Hostel - 0.2km from city centre,9.0\nSuperb\n3946 Total Reviews,3634 Total Reviews,Dorms From\nRs1022,Fabulous
18,Keystone House Kings Cross,Hostel - 3.5km from city centre,8.8\nFabulous\n3634 Total Reviews,8109 Total Reviews,Privates From\nRs6504,Superb
19,Clink261,Hostel - 3.2km from city centre,9.7\nSuperb\n8109 Total Reviews,3165 Total Reviews,Dorms From\nRs1652,Fabulous
20,Burlington Residence,Hostel - 7.1km from city centre,10\nSuperb\n3165 Total Reviews,25 Total Reviews,Privates From\nRs6160,Superb
21,London Waterloo Hostel,Hostel - 0.7km from city centre,9.7\nSuperb\n25 Total Reviews,2399 Total Reviews,Dorms From\nRs2065,Superb
22,Jaeger Acton Hostel,Hostel - 10.4km from city centre,7.8\nVery Good\n2399 Total Reviews,878 Total Reviews,Privates From\nRs11769,Superb
23,Astor Hyde Park,Hostel - 4.3km from city centre,9.5\nSuperb\n878 Total Reviews,11320 Total Reviews,Dorms From\nRs1652,Very Good
24,Abercorn House,Hostel - 7.3km from city centre,9.2\nSuperb\n11320 Total Reviews,3652 Total Reviews,Privates From\nRs4336,Superb
25,St Christopher's Oasis-Female Only,Hostel - 1.8km from city centre,7.8\nVery Good\n3652 Total Reviews,593 Total Reviews,No Dorms Available,Superb
26,Astor Kensington,Hostel - 4.9km from city centre,8.6\nFabulous\n593 Total Reviews,6323 Total Reviews,Privates From\nRs6153,Very Good
27,New Cross Inn Hostel,Hostel - 6.1km from city centre,9.0\nSuperb\n6323 Total Reviews,997 Total Reviews,Dorms From\nRs2443,Fabulous
28,Mapesbury Hostel,Hostel - 8.2km from city centre,7.5\nVery Good\n997 Total Reviews,357 Total Reviews,Privates From\nRs10118,Superb
29,Hootananny Hostel,Hostel - 5km from city centre,4.9\nRating\n357 Total Reviews,1405 Total Reviews,No Dorms Available,Very Good