In [1]:
# First install the selenium Library
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda2\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\programdata\anaconda2\lib\site-packages (from selenium) (1.26.4)

In [6]:
# Now import all libraries
import selenium 
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException

In [7]:
# connecting to the web driver
driver=webdriver.Chrome('chromedriver.exe')

# Q1) Write a python program to scrape data for “Data Analyst” Job position in 
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.

In [4]:
url='https://www.naukri.com/'
driver.get(url)

In [5]:
# finding element for job search bar
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [6]:
# writing on search bar
search_job.send_keys('Data Analyst')

In [7]:
# finding element for job loacation bar
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc

In [8]:
# writing on search bar
search_loc.send_keys('Bangalore')

In [9]:
# clicking on search bar
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [10]:
# now extracting the tags having job-titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags

[<selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="2ea3284c-682d-43c7-a118-44d0f8187abe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="a011c463-4133-4d38-933c-e54e578f98d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="836e1cd0-3eec-4ac8-8244-1e5d6ce75ad9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="10f63941-b8ba-4c7c-8ced-794c74eef858")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="9f6d8c10-9ff7-4e0a-9672-02e248ef6a6a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="60655312-02f6-4b86-8548-26d4223559e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="df4238f5-91e7-4149-9bef-dcad180cea91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="b1809bb8-144e-495f-9764-fa676e26c8a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="29300bca-5b5d-4826-9b68-f5a0f6d78fe9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="761b1701-38a7-4639-bcd6-0ccdf0e2b020")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="0fe83598-401b-4642-99a9-7e126b2f5d0b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="ff6a5912-c7c4-4ede-ac41-8779199533bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="3254afff-cf3c-4a62-8d04-d17c29e359ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="e8371cc3-fffc-4fb8-bdf2-d6837ee29d62")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="66151ed2-033e-4bdb-b755-26a0157c4656")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="5da5bee7-d792-432e-9dc0-4c2737eab06a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="58d7c7d6-86bf-4424-b72b-551499c2079b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="96e5210f-e65f-489a-80f5-aeb39752366d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="7d5c7a66-fe94-433b-8ea5-8b5ab9ec5bd4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="7cb429c4-963e-4106-be7c-191fe88215c7")>]

In [14]:
# Now the text of the job title is inside the tags extracted above.

job_titles=[]

for i in titles_tags:
    job_titles.append(i.text)
job_titles[:10]

['Data Scientist / Data Analyst -Business Analyst',
 'Data analysts',
 'Data Analyst (2positions)//immediate Joiners//bangalore',
 'Data analysts',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst - Category Demand Management (Revenue & Growth)',
 'Job Opportunity For Talent Data Analyst - Cornerstone OnDemand',
 'Consultant-Data Analyst -Bangalore',
 'Data Analyst - Work from Home']

In [19]:
# Now extracting the tags having company names
companies_tags=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']")
companies_tags

[<selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="ffa7dda8-fb06-41c8-b1cd-943aeaa399c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="8605cc06-ec38-434c-9d35-38819ce12bd4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="08256a3c-3283-4494-b7a9-8a0d8d3be921")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="aa90955a-5c98-4064-b65d-5065b070feee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="c4fbc59e-a52e-4e36-a98b-c688a5553ca9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="561dce72-8c7f-4244-bcbd-81b702156ad5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="6e1fe549-4645-4363-8a75-07502a671b0e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="4ab75ee6-cbf4-46f8-a848-eb16a92515c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="d15d24f6-1ca6-4f59-b976-00c4fce7d4a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="4356caab-9b32-4e33-b2da-4eb2f72d12b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="01859dd9-d26a-4b41-b4ab-dbc74a464ee5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="7099de44-26f5-4c8a-9007-855de6c24bb5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="7fae5cac-d379-4b13-8cf6-c469e4d01c17")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="dde61452-59d6-467d-ba62-1c8e98b384ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="e207acb2-e470-4717-86c9-7beb4e9074cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="dc942cc6-d3cf-44ec-a245-6915e986d08a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="3721080b-046a-4480-95d0-e427f32c6dfd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="abad11d9-33fb-4095-8f9b-9736d638e071")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="8a422549-2cf7-4c0c-8d85-0b4a4786fafe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="5041493a-b922-4bb9-bdf2-e4763bc95990")>]

In [20]:
# Now extracting the company names from tags
company_names=[]
for i in companies_tags:
    company_names.append(i.text)
company_names[:10]

['Inflexion Analytix Private Limited',
 'IBM India Pvt. Limited\n4.0\n(9816 Reviews)',
 'Tech Mahindra Ltd.\n3.6\n(11299 Reviews)',
 'IBM India Pvt. Limited\n4.0\n(9816 Reviews)',
 'Myntra Designs Pvt. Ltd.\n4.1\n(760 Reviews)',
 'Myntra Designs Pvt. Ltd.\n4.1\n(760 Reviews)',
 'Myntra Designs Pvt. Ltd.\n4.1\n(760 Reviews)',
 'Cornerstone OnDemand Services India Pvt Ltd\n4.4\n(14 Reviews)',
 'Innovsource Services Private Limited\n4.2\n(636 Reviews)',
 'POWER STORES E COMMERCE PRIVATE LIMITED']

In [24]:
loc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
loc

[<selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="c64c6e6d-3919-4e6e-ba06-342fe2c20554")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="11bc5523-5c88-46da-8f00-d44b56a61063")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="dc9a7a3b-d352-4eed-be21-1e2c58125a1f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="79008bfb-b858-4a02-8cff-b5d61aa159fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="c6d5ff6d-d1e4-4a6c-af8a-264ac7c38b9d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="9f71f396-8867-488e-9420-05aae416698d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="459aabef-b80b-413a-99b1-eb1cfae0debb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="5a8a2f51-2791-4c73-ba27-eaae838359a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="9747e942-c187-4642-9acf-4f6f3b3db778")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="e96092c2-f0b6-488c-95b9-0e89bda4ae75")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="26776976-e481-4924-84aa-f2b4b3b81738")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="a6fa5827-16c8-4884-b37b-332577564973")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="46d684fe-2909-4192-9fa2-f5d614aa6f89")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="6c8a85ab-7977-4740-833d-4cf649ede2dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="d062cf2c-df18-457e-87c0-d836a3c603c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="8d92e93b-cd85-46c8-92e8-8cec0bf3acff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="71738e16-e400-45c9-aac9-e82f0703d788")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="69308435-5ee0-46dd-8ed6-2eb371c28fd1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="fcd1edc1-8f49-4e46-82fa-0518a9222231")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="a82b6ea6-8248-41f9-a02c-8dedf2b398f2")>]

In [25]:
# extracting locations from the tags
locations=[]

for i in loc:
    locations.append(i.text)
    
locations[:10]

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru, Mumbai (All Areas)']

In [27]:
# extracting the tags having experience
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
exp

[<selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="bf50375b-bdff-4b08-a570-d5b7d6fcdd4e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="02c995fc-51cf-426d-85f1-6181a61407ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="38c509bf-13a5-4f6f-befc-d7cb2cbe46ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="8ca272b3-fcc1-4485-8c7f-7a0e1f9a45f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="9186517d-11ed-4ab2-89ab-f3e2b709bd8e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="dc71d048-f522-413e-ad26-7467ceff4c0a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="aad09c2f-0375-423d-bc08-a807361dabbc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="353fa61a-9418-4e06-9a4d-d1c629bd51b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="7c46e7a9-9fd9-40e9-9658-40f31dc42538")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="332de0c3-dc04-4164-a5eb-f628ff2b4668")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="497381c2-f23a-48b4-bccf-6a7e2cb3955c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="fa23f478-5f6b-4ad4-8e25-76ca7a63731b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="70a6c4a1-7f26-4a7f-b526-1f62d6098a81")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="a9541591-e5ca-476b-811f-ddcabad8cd5d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="27afd3b3-3c5f-4b45-a010-c8a7f998f5d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="40efc13e-f8de-43ad-8bdc-9c7acc202963")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="2e66a797-2b88-4e13-8306-087543a12f0d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="af30dc1d-c209-4ed2-a14d-3675e65179b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="1c54b08f-bf38-4bab-9fcf-99d76a20a795")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605091af86d80b6f2d9e024e4d2e0392", element="0df84265-0932-4aca-a3d3-25d0cc95facf")>]

In [28]:
# extracting experirnce from the tags
experience=[]

for i in exp:
    experience.append(i.text)
experience[:10]

['0-3 Yrs',
 '5-6 Yrs',
 '4-8 Yrs',
 '3-5 Yrs',
 '3-5 Yrs',
 '3-8 Yrs',
 '1-4 Yrs',
 '3-5 Yrs',
 '2-7 Yrs',
 '2-5 Yrs']

In [29]:
# Now making a Data Frame
jobs=pd.DataFrame({})
jobs['Title']=job_titles
jobs['Company']=company_names
jobs['Experience']=experience
jobs['Locations']=locations
jobs[:10]

,Title,Company,Experience,Locations
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
1,Data analysts,IBM India Pvt. Limited\n4.0\n(9816 Reviews),5-6 Yrs,Bengaluru/Bangalore
2,Data Analyst (2positions)//immediate Joiners//...,Tech Mahindra Ltd.\n3.6\n(11299 Reviews),4-8 Yrs,Bangalore/Bengaluru
3,Data analysts,IBM India Pvt. Limited\n4.0\n(9816 Reviews),3-5 Yrs,Bangalore/Bengaluru
4,Data Analyst,Myntra Designs Pvt. Ltd.\n4.1\n(760 Reviews),3-5 Yrs,Bangalore/Bengaluru
5,Data Analyst,Myntra Designs Pvt. Ltd.\n4.1\n(760 Reviews),3-8 Yrs,Bangalore/Bengaluru
6,Data Analyst - Category Demand Management (Rev...,Myntra Designs Pvt. Ltd.\n4.1\n(760 Reviews),1-4 Yrs,Bangalore/Bengaluru
7,Job Opportunity For Talent Data Analyst - Corn...,Cornerstone OnDemand Services India Pvt Ltd\n4...,3-5 Yrs,"Kolkata, Pune, Chennai, Bangalore/Bengaluru, D..."
8,Consultant-Data Analyst -Bangalore,Innovsource Services Private Limited\n4.2\n(63...,2-7 Yrs,Bangalore/Bengaluru
9,Data Analyst - Work from Home,POWER STORES E COMMERCE PRIVATE LIMITED,2-5 Yrs,"Pune, Bangalore/Bengaluru, Mumbai (All Areas)"

Data for Data Analyst Jobs.

# Q2) Write a python program to scrape data for “Data Scientist” Job position in 
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.

In [138]:
url='https://www.naukri.com/'
driver.get(url)

In [137]:
# connecting to the web driver
driver=webdriver.Chrome('chromedriver.exe')

In [140]:
#finding elements by job search bar and searching
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data scientist')

In [141]:
# finding locations search bar and searching
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('Bangalore')

In [142]:
# clicking on search bar
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [144]:
# extracting job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job=[]

for i in titles_tags:
    job.append(i.text)
job

['Data Scientist / Data Analyst -Business Analyst',
 'data scientist',
 'Data analytics / Data scientist intern (work from Home)',
 'Senior Data Scientist',
 'VP - Sr. Data Scientist For Morgan Stanley, Bangalore',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist with Python',
 'Senior Data Scientist',
 'Sr Data Scientist',
 'Senior Data Scientist (Marketplace)',
 'Data Scientist - IBM Garage',
 'Digital Enterprise Architect (Data Scientist)',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Lead Data Scientist',
 'Data Scientist (Visualization)',
 'Data Scientist']

In [104]:
urls

['https://www.naukri.com/job-listings-data-scientist-data-analyst-business-analyst-inflexion-analytix-private-limited-mumbai-hyderabad-secunderabad-pune-gurgaon-gurugram-chennai-bangalore-bengaluru-0-to-3-years-100521000368?src=jobsearchDesk&sid=16236513689448246&xp=1&px=1',
 'https://www.naukri.com/job-listings-data-scientist-global-talent-pool-bangalore-bengaluru-0-to-2-years-310521500397?src=jobsearchDesk&sid=16236513689448246&xp=2&px=1',
 'https://www.naukri.com/job-listings-data-analytics-data-scientist-intern-work-from-home-talkvalley-llc-kolkata-bangalore-bengaluru-delhi-ncr-0-to-5-years-050621000128?src=jobsearchDesk&sid=16236513689448246&xp=3&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-redbus-in-ibibo-group-private-limited-bangalore-bengaluru-5-to-8-years-090621001584?src=jobsearchDesk&sid=16236513689448246&xp=4&px=1',
 'https://www.naukri.com/job-listings-vp-sr-data-scientist-for-morgan-stanley-bangalore-morgan-stanley-advantage-services-pvt-ltd-bangalore-bengaluru-8-to-13-years-010621002131?src=jobsearchDesk&sid=16236513689448246&xp=5&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-infocrunch-campaigns-pvt-ltd-hyderabad-secunderabad-bangalore-bengaluru-delhi-ncr-3-to-7-years-140621000178?src=jobsearchDesk&sid=16236513689448246&xp=6&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-walmart-labs-bangalore-bengaluru-8-to-10-years-020621500403?src=jobsearchDesk&sid=16236513689448246&xp=7&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-execboardinasia-bangalore-bengaluru-5-to-10-years-030621500359?src=jobsearchDesk&sid=16236513689448246&xp=8&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-perform-group-bangalore-bengaluru-4-to-7-years-310521501774?src=jobsearchDesk&sid=16236513689448246&xp=9&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-intelligent-industrial-internet-systems-pvt-ltd-bangalore-bengaluru-mumbai-all-areas-3-to-6-years-030621003155?src=jobsearchDesk&sid=16236513689448246&xp=10&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-marketplace-walmart-labs-bangalore-bengaluru-5-to-9-years-310521500781?src=jobsearchDesk&sid=16236513689448246&xp=11&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-garage-ibm-india-pvt-limited-bengaluru-bangalore-2-to-6-years-080621904251?src=jobsearchDesk&sid=16236513689448246&xp=12&px=1',
 'https://www.naukri.com/job-listings-digital-enterprise-architect-data-scientist-mphasis-limited-bangalore-bengaluru-10-to-13-years-030621902728?src=jobsearchDesk&sid=16236513689448246&xp=13&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-3-to-6-years-020621905994?src=jobsearchDesk&sid=16236513689448246&xp=14&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-3-to-6-years-030621907010?src=jobsearchDesk&sid=16236513689448246&xp=15&px=1',
 'https://www.naukri.com/job-listings-data-scientist-oracle-india-pvt-ltd-noida-bangalore-bengaluru-5-to-9-years-010621004567?src=jobsearchDesk&sid=16236513689448246&xp=16&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-fractal-analytics-pvt-ltd-gurgaon-gurugram-bangalore-bengaluru-mumbai-all-areas-10-to-15-years-110621003012?src=jobsearchDesk&sid=16236513689448246&xp=17&px=1',
 'https://www.naukri.com/job-listings-data-scientist-visualization-aruba-networks-bangalore-bengaluru-4-to-8-years-090621501101?src=jobsearchDesk&sid=16236513689448246&xp=18&px=1',
 'https://www.naukri.com/job-listings-data-scientist-fractal-analytics-ltd-mumbai-gurgaon-gurugram-bangalore-bengaluru-3-to-7-years-070621501457?src=jobsearchDesk&sid=16236513689448246&xp=19&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-bd-bangalore-bengaluru-2-to-7-years-310521500918?src=jobsearchDesk&sid=16236513689448246&xp=20&px=1']

In [145]:
# Extracting location
loc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")

location=[]

for i in loc:
    location.append(i.text)
    
location

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Chandigarh, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru']

In [146]:
# Extracting company name
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_names=[]
for i in companies_tags:
    company_names.append(i.text)
company_names

['Inflexion Analytix Private Limited',
 'Global Talent Pool',
 'TalkValley LLC',
 'RedBus',
 'Morgan Stanley Advantage Services',
 'Infocrunch Campaigns Pvt Ltd',
 'Walmart Labs',
 'ExecBoardinAsia',
 'Next Bee Corporation',
 'Perform Group',
 'intelligent industrial internet systems pvt ltd.',
 'Walmart Labs',
 'IBM India Pvt. Limited',
 'Mphasis Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Oracle India Pvt. Ltd.',
 'Fractal Analytics',
 'Aruba Networks',
 'Fractal Analytics']

In [147]:
# Extracting Description
desc=driver.find_elements_by_xpath("//div[@class='job-description fs12 grey-text']")
Discription=[]
for i in desc:
    Discription.append(i.text)
Discription

['Applications invited from all Freshers and experienced candidates (0-3 yrs) aspiring to...',
 'Graduate level math and statistics knowledge is preferred Good Python programmers with ...',
 'Duration of the internship: 3 months+ internship completion certificate We are a group ...',
 'Job Role: Senior Data Scientist Reporting To: Head of Data Science Total Exp: 5 - 7 yea...',
 'About UsMorgan Stanley is a leading global financial services firm providing a wide ran...',
 'Degree / Masters in Data Science, Computer Science, Mathematics, Computational Linguist...',
 'Experience with Python, Pyspark, Tensorflow, PyTorch or other related big data and mach...',
 'The Senior Data Scientist is an exciting role in the Data Science Centre of Excellence ...',
 'Familiarity with Agile Methodology, Test-Driven Development, and software design patter...',
 'Understanding of deep learning fundamentals including network architectures, training a...',
 'Roles and Responsibilities - Create an industry-changing product from scratch without a...',
 'o Solid experience working with state-of-the-art supervised and unsupervised machine le...',
 'Required Technical and Professional ExpertisePreferred Technical and Professional Exper...',
 'Experience working with enterprise architecture for the complex solutions solving busin...',
 'Experience in creating and using advanced machine learning algorithms and statistics su...',
 'Should have hired and nurtured talent and grow them in market facing specialists and co...',
 'Experience in delivering data science solutions in multiple tenancies is a plus Have a ...',
 'Experience of working on end-to-end data science pipeline: problem scoping, data gather...',
 'Our Minimum Requirements for this role are Additional preferred skills Experience with ...',
 'Experience of working on end-to-end data science pipeline: problem scoping, data gather...']

In [150]:
# Creating Data Frame
jobs_=pd.DataFrame({})
jobs_['JOBS TITLES']=job
jobs_['JOB LOCATIONS']=location
jobs_['COMPANY NAME']=company_names
jobs_['JOB DESCRIPTION']=Discription
jobs_[:10]

,JOBS TITLES,JOB LOCATIONS,COMPANY NAME,JOB DESCRIPTION
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,Applications invited from all Freshers and exp...
1,data scientist,Bangalore/Bengaluru,Global Talent Pool,Graduate level math and statistics knowledge i...
2,Data analytics / Data scientist intern (work f...,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",TalkValley LLC,Duration of the internship: 3 months+ internsh...
3,Senior Data Scientist,Bangalore/Bengaluru,RedBus,Job Role: Senior Data Scientist Reporting To: ...
4,"VP - Sr. Data Scientist For Morgan Stanley, Ba...",Bangalore/Bengaluru,Morgan Stanley Advantage Services,About UsMorgan Stanley is a leading global fin...
5,Senior Data Scientist,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",Infocrunch Campaigns Pvt Ltd,"Degree / Masters in Data Science, Computer Sci..."
6,Senior Data Scientist,Bangalore/Bengaluru,Walmart Labs,"Experience with Python, Pyspark, Tensorflow, P..."
7,Senior Data Scientist,Bangalore/Bengaluru,ExecBoardinAsia,The Senior Data Scientist is an exciting role ...
8,Senior Data Scientist with Python,"Kolkata, Chandigarh, Hyderabad/Secunderabad, P...",Next Bee Corporation,"Familiarity with Agile Methodology, Test-Drive..."
9,Senior Data Scientist,Bangalore/Bengaluru,Perform Group,Understanding of deep learning fundamentals in...

# Q3) scrape data using the filters available on the webpage

In [152]:
# connecting to the web driver
driver=webdriver.Chrome('chromedriver.exe')

In [153]:
url='https://www.naukri.com/'
driver.get(url)

In [154]:
#finding elements by job search bar and searching
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data scientist')

In [155]:
# clicking on search bar
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [157]:
# Using location filter
loc=driver.find_element_by_xpath("//i[@class='fleft naukicon naukicon-checkbox']")
loc.click()

In [158]:
# using salary filter
salary=driver.find_element_by_xpath("//p[@class='grey-text lH20 fleft ml-8 txtLbl']")
salary.click()

In [159]:
# extracting  job title
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles=[]

for i in title:
    titles.append(i.text)
titles[:10]

['Data Scientist / Data Analyst -Business Analyst',
 'Data analytics / Data scientist intern (work from Home)',
 'Chaayos is Looking For Data Scientist',
 'Data Scientist',
 'Junior Data Scientist',
 'We are hiring- Data Scientist +Python- Noida',
 'Data Scientist',
 'Data Analyst/Scientist Big Data, Statistical Techniques',
 'Senior Data Scientist',
 'Data Scientist - High growth VC backed Influencer Marketplace']

In [160]:
# Extracting Locations
loc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
# Extracting locations from the tags
location=[]
for i in loc:
    location.append(i.text)
location[:10]

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Kolkata, Bangalore/Bengaluru, Delhi / NCR',
 'New Delhi',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida(Sector-59 Noida)',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Delhi',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)']

In [161]:
# extracting company name
company=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies=[]

for i in company:
    companies.append(i.text)
companies[:10]

['Inflexion Analytix Private Limited',
 'TalkValley LLC',
 'Chaayos (Sunshine Teahouse Pvt. Ltd.)',
 'Fractal Analytics',
 'R Systems International Ltd.',
 'RANDSTAD INDIA PVT LTD',
 'Milliman India Pvt Ltd',
 'The Search House (A Div of JSD Search House Pvt. L td.)',
 'iNICU',
 'Ravgins International Pvt. Ltd.']

In [162]:
#  Extracting Experience
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
experience=[]
for i in exp:
    experience.append(i.text)
experience[:10]

['0-3 Yrs',
 '0-5 Yrs',
 '0-5 Yrs',
 '3-7 Yrs',
 '3-5 Yrs',
 '4-7 Yrs',
 '2-5 Yrs',
 '2-7 Yrs',
 '1-5 Yrs',
 '3-5 Yrs']

In [163]:
# Creating data frame
JOB=pd.DataFrame({})
JOB['Title']=titles
JOB['Locations']=location
JOB['Company']=companies
JOB['Experience']=experience
JOB[:10]

,Title,Locations,Company,Experience
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Data analytics / Data scientist intern (work f...,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",TalkValley LLC,0-5 Yrs
2,Chaayos is Looking For Data Scientist,New Delhi,Chaayos (Sunshine Teahouse Pvt. Ltd.),0-5 Yrs
3,Data Scientist,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Fractal Analytics,3-7 Yrs
4,Junior Data Scientist,Noida(Sector-59 Noida),R Systems International Ltd.,3-5 Yrs
5,We are hiring- Data Scientist +Python- Noida,"Noida, Gurgaon/Gurugram, Delhi / NCR",RANDSTAD INDIA PVT LTD,4-7 Yrs
6,Data Scientist,"Gurgaon/Gurugram, Delhi / NCR",Milliman India Pvt Ltd,2-5 Yrs
7,"Data Analyst/Scientist Big Data, Statistical T...",Gurgaon/Gurugram,The Search House (A Div of JSD Search House Pv...,2-7 Yrs
8,Senior Data Scientist,Delhi,iNICU,1-5 Yrs
9,Data Scientist - High growth VC backed Influen...,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Ravgins International Pvt. Ltd.,3-5 Yrs

# Q4) Write a python program to scrape data for first 10 job results for Data scientist 
Designation in Noida location. You have to scrape company_name, No. of days 
ago when job was posted, Rating of the company.

In [97]:
# connecting to the web driver
driver=webdriver.Chrome('chromedriver.exe')

In [164]:
url='https://www.glassdoor.co.in/index.htm'
driver.get(url)

In [165]:
# finding elements by job search bar and searching
search_jobs=driver.find_element_by_id('sc.keyword')
search_jobs.send_keys('Data Scientist')

In [166]:
# finding elemnts by location search bar ans searching
loc=driver.find_element_by_id('sc.location')
loc.send_keys('Noida')

In [167]:
# clicking on search bar
button=driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
button.click()

In [168]:
# Extracting company name
company=driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']")
companies=[]
for i in company:
    companies.append(i.text)
companies[:10]

['Taboola',
 'Bechtel',
 'Knoldus Inc',
 'CRMNEXT',
 'Ginger Webs Pvt. Ltd.',
 'Biz2Credit Inc',
 'Lantern Digital Services',
 'Priority Vendor',
 'Genpact',
 'Ericsson']

In [169]:
# Extrating No of days since job was posted
day=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
days=[]
for i in day:
    days.append(i.text)
days[:10]

['3d', '13d', '9d', '10d', '3d', '19d', '5d', '10d', '4d', '9d']

In [170]:
# Extracting Ratings
rate=driver.find_elements_by_xpath("//div[@class='d-flex flex-column css-x75kgh e1rrn5ka3']")
rating=[]
for i in rate:
    if i.text is None:
        rating.append('Not')
    else:
        rating.append(i.text)
    

    
rating[:10]

['4.2', '3.9', '4.1', '3.7', '', '3.7', '3.5', '3.7', '3.8', '4.1']

In [171]:
# Creating data frame
jobs_data=pd.DataFrame({})
jobs_data['Company']=companies
jobs_data['Days Since Job Posted']=days
jobs_data['Ratings of the company']=rating
jobs_data[:10]

                    Company Days Since Job Posted Ratings of the company
0                   Taboola                    3d                    4.2
1                   Bechtel                   13d                    3.9
2               Knoldus Inc                    9d                    4.1
3                   CRMNEXT                   10d                    3.7
4     Ginger Webs Pvt. Ltd.                    3d
5            Biz2Credit Inc                   19d                    3.7
6  Lantern Digital Services                    5d                    3.5
7           Priority Vendor                   10d                    3.7
8                   Genpact                    4d                    3.8
9                  Ericsson                    9d                    4.1

# Q5) Write a python program to scrape the salary data for Data Scientist designation 
in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min
salary, Max Salary

In [105]:
# connecting to the web driver
driver=webdriver.Chrome('chromedriver.exe')

In [106]:
url='https://www.glassdoor.co.in/Salaries/index.htm'
driver.get(url)

In [107]:
#finding elements by job search bar and searching
search_job=driver.find_element_by_id('KeywordSearch')
search_job.send_keys('Data scientist')

In [108]:
# finding location by location search bar and searching
loc=driver.find_element_by_id('LocationSearch')
loc.send_keys('Noida')

In [109]:
# clicking on search bar
btn=driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
btn.click()

In [27]:
# Extracting tags having company name
company=driver.find_elements_by_xpath("//p[@class='m-0 ']")
company

[<selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="fdae7de3-f0c6-4b85-911b-a901b1d2742f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="322f6ede-cb11-437d-a65a-00943e9a8128")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="2e1b5185-e136-44e4-9eff-3d3f0e0fbac0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="d0c7834a-4679-43b9-9cfb-4ef94254f95f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="c69bf8fe-f8ec-472b-8a44-0f3d619c79a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="e41741c6-2cc8-4f6b-bbfe-b794ff2226d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="eb4ac660-273a-497c-a10d-52431496448a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="09f0a216-470c-4ccc-abec-d942fdc1511b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="8ab860b3-edf6-4378-bf0a-e48e467346a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="77e6f7de-64de-4b05-8c8f-67245f5865bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="c5b4dc6b-523a-449b-bead-018875db2c06")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="c96d316f-0ab2-401a-a5e6-ad5f753d2081")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="41f976b4-8dae-4ce2-8065-8a55db4629f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="da09a268-5dfb-4af1-b20e-cacbb0edfb4a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="ee4962fe-3e4b-4041-92d8-ac8e4315fc65")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="c6095634-f20f-4317-adaf-add5a2a708e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="cf1105ad-1057-40bb-a82a-a8a2719fb9e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="7fcc9e83-e613-498f-9f40-fe5f754e02e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="2b086065-4c86-47c8-af40-7a5e7b2c9171")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="42e8d751-3cd4-48df-a60e-29d1fc7e36da")>]

In [28]:
# Extracting company names from tags
companies=[]
for i in company:
    companies.append(i.text)
companies[:10]

['Tata Consultancy Services',
 'IBM',
 'Accenture',
 'Ericsson-Worldwide',
 'Delhivery',
 'UnitedHealth Group',
 'Optum Global Solutions',
 'Valiance Solutions',
 'ZS Associates',
 'EXL Service']

In [43]:
#Extracting tags having Average Salary
salary=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']")
salary

[<selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="00bed6cd-00cc-40cb-b26b-137553c9749c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="6f26e621-1fb2-4eac-87e6-834c070c405d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="35158164-ffee-4232-a8ed-6b806727f937")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="3f8333db-565b-4241-a640-bc7b70df7c4f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="cf5ef099-e35f-4382-a46a-3e4c23dbe9c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="c554491d-0629-4ff3-a074-d688017c1db0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="52af0817-6ce5-4723-b9e5-55afbdbfd650")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="2442e935-6c66-44fe-9c2c-fd193cb97637")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="bfbcbfa2-22e7-4709-a9bb-8f4aca3aa8f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="e2f7616f-c05c-41d7-9b5f-c9efd7649b7a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="6101418f-dce6-444a-8d0b-acbaacd7b414")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="89258b50-0776-4964-ba0d-cdf02cc883a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="e5b0caf6-2174-435a-a2bc-110ae24ad44f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="84751a1d-0918-460a-b4e6-b7cee0195da0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="1d431a9f-05a3-4bee-b46c-67b91758a058")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="447f7e4d-ff68-46f4-a32e-ba7dd83ebe89")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="1a35c7d4-ccf7-489a-9443-8c5f19b41e0f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="67875f35-2021-45cd-a47f-1257fd9cb11d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="13b6e36a-267f-4077-8cb7-de545a11aff0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="4d16b6fa-6f3d-4723-bf87-56531e198525")>]

In [61]:
# Extracting Average salary from tags
avg=[]
for i in salary:
    avg.append(i.text.replace('\n',''))
avg[:10]

['₹ 6,14,306/yr',
 '₹ 9,00,000/yr',
 '₹ 11,46,533/yr',
 '₹ 7,38,057/yr',
 '₹ 12,39,781/yr',
 '₹ 13,36,142/yr',
 '₹ 13,26,575/yr',
 '₹ 8,15,192/yr',
 '₹ 11,35,221/yr',
 '₹ 11,44,243/yr']

In [72]:
# Extracting tags having minimum and maximum  salary
min_max=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__rangeBar undefined undefined ']")
                                      
min_max

[<selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="6d96f6dd-cc96-48b0-88f0-8f724565f59d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="10290a85-9cdf-4dd7-9148-3d6532879cde")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="ee42cb7f-166a-47f3-8229-9c9739d6a0ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="e9aab8c9-7284-4e3d-9716-ca3b9e748085")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="2190094a-5a12-481b-aaae-8d47f63ab67c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="bf2b0c5e-b95c-4e5b-a280-0ae2ab7bb253")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="b412ef52-ebdb-49fb-a346-2c70e70bbce3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="d0d63914-a312-4347-9b7f-0ee480745f49")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="39bc7e4b-7fbb-4690-9839-6b27e7531779")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="dda94e71-c606-4393-9b3f-489fcc5850f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="820e87cf-c458-4c55-90b9-ff871b1a05d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="1487c60d-33a5-4374-88fe-17c896e9b7ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="70d9fbab-6aec-4665-83ce-de8b44e357f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="c8ebcb30-9c61-420f-833f-a4edb1b2cff7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="e253de62-b2fe-42c0-a872-1d61309d0a8c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="bb17ba9a-e037-47e3-9611-3be5e718a2f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="173e1c97-4ecb-412f-96df-238f2f50bf14")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="771ca2de-0ee4-4397-84b9-de728fc3603e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="f698f271-85c4-4e1f-85ad-e6325a4aadbc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4faef41cc12ced45200f2aa4da34a82e", element="ff910f38-1625-427a-8ec9-3f107c235840")>]

In [74]:
# Extracting minimum and maximu salary from tags
salary=[]
for i in min_max:
    salary.append(i.text.replace('\n','    '))
salary[:10]

['₹343K    ₹1,250K',
 '₹586K    ₹2,730K',
 '₹577K    ₹2,213K',
 '₹355K    ₹1,613K',
 '₹450K    ₹11,622K',
 '₹1,069K    ₹1,520K',
 '₹350K    ₹2,149K',
 '₹502K    ₹1,465K',
 '₹202K    ₹1,809K',
 '₹575K    ₹1,520K']

In [110]:
# Extracting tags having ratings
rate=driver.find_elements_by_xpath("//div[@class='d-flex align-items-center mt-xxsm']")
rate

[<selenium.webdriver.remote.webelement.WebElement (session="8bfe7286ac99679f90622407433ea58a", element="77617dfe-822e-4b68-a9c2-a313fad2c94e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8bfe7286ac99679f90622407433ea58a", element="877a798a-36ba-43f9-b585-43ae48a79193")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8bfe7286ac99679f90622407433ea58a", element="6444a790-e461-4ec9-8c90-997fa3feaacb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8bfe7286ac99679f90622407433ea58a", element="4a6a01d9-485d-4949-a138-ebb10c0d3ed3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8bfe7286ac99679f90622407433ea58a", element="e06a30ae-7f5b-4666-a6fc-b80e696ae029")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8bfe7286ac99679f90622407433ea58a", element="63d40ea8-101e-4ac9-a1f7-1d7d512885cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8bfe7286ac99679f90622407433ea58a", element="5418abbf-2a9d-4f7c-9965-c615da6b87d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8bfe7286ac99679f90622407433ea58a", element="51d7e4cf-1bcc-4a6a-90a2-c31993ce6a42")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8bfe7286ac99679f90622407433ea58a", element="a37a2183-fd4b-4312-a8e5-57de0eab7aae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8bfe7286ac99679f90622407433ea58a", element="67303a0f-76fd-4c58-a27e-072e68cd0e92")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8bfe7286ac99679f90622407433ea58a", element="be874bb7-d072-4230-a611-feb54f010928")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8bfe7286ac99679f90622407433ea58a", element="cf5c84f8-a76a-4fbf-97c6-e313dfd07bd2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8bfe7286ac99679f90622407433ea58a", element="f336dc94-def7-4e08-937b-44cb44481c63")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8bfe7286ac99679f90622407433ea58a", element="7c0dc457-cce1-4058-8674-16e6496538dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8bfe7286ac99679f90622407433ea58a", element="52eed411-6f6a-4957-bd86-9eb0ac96aa93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8bfe7286ac99679f90622407433ea58a", element="af6fb930-0fc7-48d0-99b8-bec5dd854166")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8bfe7286ac99679f90622407433ea58a", element="d2496600-a3bc-4e08-b4da-7227e22465a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8bfe7286ac99679f90622407433ea58a", element="cd722d7a-bcaa-487f-b322-339624ac061c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8bfe7286ac99679f90622407433ea58a", element="0022a3fd-e2ee-4577-be6d-3c455c08e5e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8bfe7286ac99679f90622407433ea58a", element="3a6640f2-e179-4b2b-ade3-43c9aed74c61")>]

In [114]:
# Extracting Number of salaries from tags
rating=[]
for i in rate:
    rating.append(i.text.replace('\n',''))
rating[:10]

['3.9★', '3.9★', '4★', '4★', '3.8★', '3.6★', '3.9★', '4.1★', '4★', '3.6★']

In [115]:
#Creating Data Framd
jobs=pd.DataFrame({})
jobs['Company']=companies
jobs['Average Salary in a year']=avg
jobs['Minimum and Maximum Salary']=salary
jobs['Ratings Of the companies']=rating
jobs[:10]

,Company,Average Salary in a year,Minimum and Maximum Salary,Ratings Of the companies
0,Tata Consultancy Services,"₹ 6,14,306/yr","₹343K ₹1,250K",3.9★
1,IBM,"₹ 9,00,000/yr","₹586K ₹2,730K",3.9★
2,Accenture,"₹ 11,46,533/yr","₹577K ₹2,213K",4★
3,Ericsson-Worldwide,"₹ 7,38,057/yr","₹355K ₹1,613K",4★
4,Delhivery,"₹ 12,39,781/yr","₹450K ₹11,622K",3.8★
5,UnitedHealth Group,"₹ 13,36,142/yr","₹1,069K ₹1,520K",3.6★
6,Optum Global Solutions,"₹ 13,26,575/yr","₹350K ₹2,149K",3.9★
7,Valiance Solutions,"₹ 8,15,192/yr","₹502K ₹1,465K",4.1★
8,ZS Associates,"₹ 11,35,221/yr","₹202K ₹1,809K",4★
9,EXL Service,"₹ 11,44,243/yr","₹575K ₹1,520K",3.6★

Data of the companies having average , minimum and maximum salary with ratings.

# Q6) Scrape data of first 100 sunglasses listings on flipkart.com. You have to 
scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [26]:
url='https://www.flipkart.com/'
driver.get(url)

In [27]:
# finding elements for sunglasses and searching
sun_g = driver.find_element_by_xpath("//input[@class='_3704LK']")

sun_g.send_keys('Sunglasses')

In [29]:
# clicking on search bar
search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")

search_btn.click()

In [56]:
import time

In [33]:
# Extracting brand
while(True):
    time.sleep(2)

    
titles_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brands=[]
for i in titles_tags:
     if(len(brands)<100>)
        brands.append(i.text)
    else:
        break

In [38]:
# extracting discription
while(True):
    time.sleep(2)
disc = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
discription=[]
for i in disc:
     if(len(discription)<100>)
        discription.append(i.text)
    else:
        break

In [41]:
# Extracting Price
while(True):
    time.sleep(2)
price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
prod_price=[]
for i in price[:40]:
    if(len(prod_price)<100>)
       prod_price.append(i.text)

    else:
        break

In [43]:
# Extracting Discount%
while(True):
    time.sleep(2)
discount = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
disco=[]
 for i in discount[:40]:
        if(len(disco)<100>)
          disco.append(i.text)
        else:
            break
           
         if(len(n)>=100):
            break

In [ ]:
driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()

In [51]:
# Creating data frame
sunglasses=pd.DataFrame({})
sunglasses['Comapny']=brands
sunglasses['Product Discription']=discription
sunglasses['Price']=prod_price
sunglasses['Discount %']=disco

In [54]:
sunglasses.head(10)

,Comapny,Product Discription,Price,Discount %
0,ROYAL SON,UV Protection Retro Square Sunglasses (88),₹479,76% off
1,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹426,88% off
2,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹541,32% off
4,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
5,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
6,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹509,36% off
7,NuVew,UV Protection Aviator Sunglasses (57),₹261,71% off
8,DEIXELS,"UV Protection Aviator, Wayfarer Sunglasses (Fr...",₹213,82% off
9,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹331,79% off

sunglasses data.

# Q7) Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [33]:
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART'
driver.get(url)

In [34]:
#gathering the data

rating = []

review_summary=[]

full_review=[]

In [65]:
# Scrapping The data
j=0
while j<10:
    ratings=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    for i in ratings:
        rating.append(i.text)
        
    
    reviews=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    for i in reviews:
        review_summary.append(i.text)
        
    full_reviews=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
    for i in full_reviews:
        full_review.append(i.text)
        
        
    driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
    j+=1

In [69]:
# Creating DataFrame
Iphone=pd.DataFrame({})
Iphone['Rating']=rating
Iphone['Review Summary']=review_summary
Iphone['Full Review']=full_review

In [73]:
Iphone.head(10)

   Rating  Review Summary                                        Full Review
0     NaN             NaN  The Best Phone for the Money\n\nThe iPhone 11 ...
1     NaN             NaN  Amazing phone with great cameras and better ba...
2     NaN             NaN  Amazing Powerful and Durable Gadget.\n\nI’m am...
3     NaN             NaN  Previously I was using one plus 3t it was a gr...
4     NaN             NaN  This is my first iOS phone. I am very happy wi...
5     NaN             NaN  So far it’s been an AMAZING experience coming ...
6     NaN             NaN  iphone 11 is a very good phone to buy only if ...
7     NaN             NaN  It’s a must buy who is looking for an upgrade ...
8     NaN             NaN  Value for money❤️❤️\nIts awesome mobile phone ...
9     NaN             NaN  Best budget Iphone till date ❤️ go for it guys...

# Q8) Scrape data for first 100 sneakers you find when you visit flipkart.com and 
search for “sneakers” in the search field.

In [122]:
url='https://www.flipkart.com/'
driver.get(url)

In [75]:
# Finding sneakers from he search bar and searching

sneakers = driver.find_element_by_xpath("//input[@class='_3704LK']")

sneakers.send_keys('Sunglasses')

In [76]:
# clicking on search bar
search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")

search_btn.click()

In [124]:
# Extracting brand
while(True):
    time.sleep(2)

    
titles_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brands=[]
for i in titles_tags:
     if(len(brands)<100>)
        brands.append(i.text)
    else:
        break

In [125]:
# extracting discription
while(True):
    time.sleep(2)
disc = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
discription=[]
for i in disc:
     if(len(discription)<100>)
        discription.append(i.text)
    else:
        break

In [126]:
# Extracting Price
while(True):
    time.sleep(2)
price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
prod_price=[]
for i in price[:40]:
    if(len(prod_price)<100>)
       prod_price.append(i.text)

    else:
        break

In [127]:
# Extracting Discount%
while(True):
    time.sleep(2)
discount = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
disco=[]
 for i in discount[:40]:
        if(len(disco)<100>)
          disco.append(i.text)
        else:
            break
           
         if(len(n)>=100):
            break

In [48]:
driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()

In [128]:
# Creating Data Frame
sneakers=pd.DataFrame({})
sneakers['Brand']=brands
sneakers['Product Description']=desc
sneakers['Price']=price
sneakers['Discount %']=discount

In [129]:
sneakers.head(20)

,Brand,Product Description,Price,Discount %
0,WROGN,Men Sneakers,Rs. 1084Rs. 3099(65% OFF),(65% OFF)
1,Mast & Harbour,Men Solid Sneakers,Rs. 1079Rs. 2699(60% OFF),(60% OFF)
2,Roadster,Men Printed Sneakers,Rs. 959Rs. 3199(70% OFF),(70% OFF)
3,Roadster,Men Solid Sneakers,Rs. 1119Rs. 2799(60% OFF),(60% OFF)
4,WROGN,Men Solid Sneakers,Rs. 1394Rs. 3099(55% OFF),(55% OFF)
5,WROGN,Men Solid Sneakers,Rs. 1469Rs. 4199(65% OFF),(65% OFF)
6,Roadster,Men Sneakers,Rs. 1304Rs. 2899(55% OFF),(55% OFF)
7,Roadster,Men Woven Design Sneakers,Rs. 1039Rs. 2599(60% OFF),(60% OFF)
8,Roadster,Men Woven Design Sneakers,Rs. 1088Rs. 3299(67% OFF),(67% OFF)
9,Mast & Harbour,Men Sneakers,Rs. 1299Rs. 2599(50% OFF),(50% OFF)
10,Roadster,Men Solid Sneakers,Rs. 1299Rs. 2599(50% OFF),(50% OFF)
11,Roadster,Men Sneakers,Rs. 1484Rs. 3299(55% OFF),(55% OFF)
12,Mast & Harbour,Men Solid Driving Shoes,Rs. 758Rs. 2299(67% OFF),(67% OFF)
13,WROGN,Men Self Design Sneakers,Rs. 1469Rs. 4199(65% OFF),(65% OFF)
14,Mast & Harbour,Men Solid Boat Shoes,Rs. 749Rs. 2499(70% OFF),(70% OFF)
15,Roadster,Men Solid Sneakers,Rs. 1088Rs. 3299(67% OFF),(67% OFF)
16,Roadster,Men Solid Sneakers,Rs. 857Rs. 2599(67% OFF),(67% OFF)
17,WROGN,Men Solid Espadrilles,Rs. 699Rs. 1999(65% OFF),(65% OFF)
18,Roadster,Men Perforations Sneakers,Rs. 1014Rs. 2899(65% OFF),(65% OFF)
19,Roadster,Men Sneakers,Rs. 1449Rs. 2899(50% OFF),(50% OFF)

sneakers data.

# @9) Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black And then scrape First 100 shoes data you get. The data should include “Brand” of 
the shoes , Short Shoe description, price of the shoe as shown in the below image

In [85]:
url='https://www.myntra.com/shoes'
driver.get(url)

In [90]:
# using price filter
price=driver.find_element_by_xpath("//div[@class='common-checkboxIndicator']")
price.click()

In [93]:
# Using color filter
color=driver.find_element_by_xpath("//span[@class='colour-label colour-colorDisplay']")
color.click()

In [95]:
# Extracting tags for pages
page_urls=[]
url=driver.find_elements_by_xpath("//li[@class='pagination-number']/a")
for i in url:
    page_urls.append(i.get_attribute('href'))
page_urls

['https://www.myntra.com/shoes?f=Color%3ABlack_36454f%3A%3AGender%3Amen%2Cmen%20women&plaEnabled=false&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.0&p=2',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f%3A%3AGender%3Amen%2Cmen%20women&plaEnabled=false&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.0&p=3',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f%3A%3AGender%3Amen%2Cmen%20women&plaEnabled=false&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.0&p=4',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f%3A%3AGender%3Amen%2Cmen%20women&plaEnabled=false&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.0&p=5',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f%3A%3AGender%3Amen%2Cmen%20women&plaEnabled=false&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.0&p=6',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f%3A%3AGender%3Amen%2Cmen%20women&plaEnabled=false&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.0&p=7',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f%3A%3AGender%3Amen%2Cmen%20women&plaEnabled=false&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.0&p=8',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f%3A%3AGender%3Amen%2Cmen%20women&plaEnabled=false&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.0&p=9']

In [100]:
# Extractin Brands
brands=[]
for i in page_urls[:2]:
    driver.get(i)
    brand=driver.find_elements_by_xpath("//h3[@class='product-brand']")
    for i in brand:
        brands.append(i.text)

In [101]:
brands

['J.FONTINI',
 'Hush Puppies',
 'Hush Puppies',
 'Nike',
 'Nike',
 'Nike',
 'Nike',
 'Nike',
 'Nike',
 'Lacoste',
 'Lacoste',
 'Reebok',
 'UNDER ARMOUR',
 'Nike',
 'Ruosh',
 'UNDER ARMOUR',
 'Heel & Buckle London',
 'Hush Puppies',
 'Ruosh',
 'ASICS',
 'Puma',
 'Hush Puppies',
 'Teakwood Leathers',
 'ASICS',
 'Florsheim',
 'one8 Select BY VIRAT KOHLI',
 'UNDER ARMOUR',
 'Florsheim',
 'one8 Select BY VIRAT KOHLI',
 'PUMA Motorsport',
 'UNDER ARMOUR',
 'Nike',
 'Ruosh',
 'Nike',
 'J.FONTINI',
 'Heel & Buckle London',
 'Puma',
 'ADIDAS',
 'Nike',
 'Puma',
 'DAVINCHI',
 'DAVINCHI',
 'DAVINCHI',
 'ALDO',
 'ALDO',
 'ASICS',
 'ADIDAS',
 'UNDER ARMOUR',
 'Puma',
 'Nike',
 'ROSSO BRUNELLO',
 'Heel & Buckle London',
 'Clarks',
 'Bugatti',
 'Puma',
 'Lacoste',
 'Puma',
 'hummel',
 'Heel & Buckle London',
 'ROSSO BRUNELLO',
 'DAVINCHI',
 'Florsheim',
 'Heel & Buckle London',
 'ALDO',
 'ALDO',
 'Nike',
 'Nike',
 'Nike',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Skechers',
 'Skechers',
 'Geox',
 'Geox',
 'Nike',
 'Reebok',
 'ADIDAS',
 'Nike',
 'San Frissco',
 'Skechers',
 'ADIDAS',
 'ALDO',
 'ADIDAS',
 'ADIDAS',
 'ASICS',
 'ADIDAS',
 'ADIDAS',
 'ADIDAS',
 'J.FONTINI',
 'UNDER ARMOUR',
 'Hush Puppies',
 'Onitsuka Tiger',
 'J.FONTINI',
 'Heel & Buckle London',
 'Puma',
 'ALDO',
 'CAT',
 'ADIDAS Originals',
 'Hush Puppies',
 'Hush Puppies']

In [103]:
# extracting description
desc=[]
for i in page_urls[:2]:
    driver.get(i)
    Desc=driver.find_elements_by_xpath("//h4[@class='product-product']")
    for i in Desc:
        desc.append(i.text)

In [105]:
desc

['Men Colourblocked Driving Shoes',
 'Men Leather Slip-On Sneakers',
 'Men DBREAK-TYPE Sneakers',
 'Men ZOOM WINFLO 6 Running',
 'Men AIR ZOOM PEGASUS 38 Run',
 'Men JORDAN ONE TAKE II Shoes',
 'Men REACT MILER 2 Running',
 'Men AIR FLIGHT 89 Sneakers',
 'Men Woven Design Sneakers',
 'Unisex Zig Kinetica II Running',
 'Men Woven Design Slip-On Sneakers',
 'Charged Pursuit 2 Running',
 'Men REACT MILER 2 Running',
 'Liquify Rebel Running Shoes',
 'Men Leather Formal Oxfords',
 'Men Formal Leather Brogues',
 'Men Running Shoes',
 'Men UltraRide Running Shoes',
 'Men Solid Leather Formal Monks',
 'Men Running Shoes',
 'Men Solid Leather Loafers',
 'Men Charged Impulse Running',
 'Men Solid Leather Formal Loafers',
 'Men Solid Leather Handcrafted Sole Classy Italian Concept Formal Oxfords',
 'Men Solid Leather Formal Derbys',
 'Men Textured Derbys',
 'HOVR Infinite 2 Running Shoes',
 'Men Leather Formal Derbys',
 'Men Ferrari Race Kart Sneakers',
 'Men Leather Formal Derbys',
 'Men AIR MAX INFINITY Sneakers',
 'Men PG 5 EP Basketball Shoes',
 'Men ZOOM WINFLO8 Running Shoes',
 'Men Formal Derbys',
 'Men Solid Leather Formal Derbys',
 'Men Leather Formal Brogues',
 'Men Solid Leather Formal Penny Loafers',
 'Calibrate Restored Sneakers',
 'Men Supernova Running Shoes',
 'Unisex RS-Fast Sneakers',
 'Men Formal Leather Slip-Ons',
 'Men Solid Leather Loafers',
 'Men Textured Formal Leather Loafers',
 'Men Solid Formal Leather Slip-On Shoes',
 'Men Solid Leather Formal Oxfords',
 'Men EvoRide TOKYO Shoes',
 'Men Adizero Ubersonic 4 Tennis',
 'Men HOVR Rise 2 Training Shoes',
 'Men Ultra Triller FM Shoes',
 'Men Casual Shoes',
 'Men Solid Leather Formal Derbys',
 'Men Solid Leather Formal Monk Shoes',
 'Men Solid Leather Formal Derbys',
 'Men Solid Leather Formal Derbys',
 'Future Rider Peanuts Sneakers',
 'Woven Design Casual Sneakers',
 'Men ONE 1 IL Football Shoes',
 'Men Leather Sneakers',
 'Men Penny Leather Loafers',
 'Men Solid Monk Shoes',
 'Men Leather Formal Loafers',
 'Men Solid Leather Formal Brogues',
 'Men Leather Sneakers',
 'KD TREY 5 Basketball Shoes',
 'AIR ZOOM PEGASUS Running Shoes',
 'Men JORDAN WHY NOT Basketball',
 'Leather Solid Loafers',
 'Men Driving Shoes',
 'Men Liquify Running Shoes',
 'Unisex SC 3ZER0 IV Basketball',
 'Men GO RUN 7+ Running Shoes',
 'Men Leather Driving Shoes',
 'Men Flex Advantage 4.0Upstream',
 'Men Leather Formal Slip-Ons',
 'Men AIR ZOOM Running Shoes',
 'Men Nano X1 Training Shoes',
 'Men Supernova Running Shoes',
 'Men Zoom Winflo 8 Running',
 'Men Leather Loafers',
 'Men VIPER COMPETITOR Training',
 'Unisex Court Vision 2 Shoes',
 'Men Solid Driving Shoes',
 'Men X9000L2 Running Shoes',
 'Unisex Harden Stepback 2 Shoes',
 'Men GT-1000 10 Running Shoes',
 'Unisex Harden Vol.5 Basketball',
 'Men X9000L3 Heat.RDY Running',
 'Men Edge XT Running Shoes',
 'Men Leather Formal Loafers',
 'Men Charged Escape 3 Evo',
 'Men Leather Formal Loafers',
 'Unisex Fabre EX Sneakers',
 'Men Leather Derbys',
 'Men Leather Boots',
 'Men Velvet Loafers',
 'Unisex RS-Fast Sneakers',
 'Men Woven Design Sneakers',
 'Men Superstar Sneakers',
 'Men Leather Slip-On Sneakers',
 'Men Solid Leather Formal Slip-Ons']

In [108]:
# Extracting price
price=[]
for i in page_urls[:2]:
    driver.get(i)
    Price=driver.find_elements_by_xpath("//div[@class='product-price']")
    for i in Price:
        price.append(i.text)

In [109]:
price

['Rs. 9999',
 'Rs. 8195',
 'Rs. 7195Rs. 7995(10% OFF)',
 'Rs. 9995',
 'Rs. 8990',
 'Rs. 7465Rs. 8295(10% OFF)',
 'Rs. 10295',
 'Rs. 8621Rs. 11495(25% OFF)',
 'Rs. 8500',
 'Rs. 8500',
 'Rs. 9999',
 'Rs. 6999',
 'Rs. 8621Rs. 11495(25% OFF)',
 'Rs. 8999',
 'Rs. 6999',
 'Rs. 7693Rs. 10990(30% OFF)',
 'Rs. 11999',
 'Rs. 6990',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 9999',
 'Rs. 6999',
 'Rs. 6990',
 'Rs. 7999',
 'Rs. 6995',
 'Rs. 8499',
 'Rs. 7999',
 'Rs. 6995',
 'Rs. 9999',
 'Rs. 7999',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 11999',
 'Rs. 7050Rs. 8295(15% OFF)',
 'Rs. 7436Rs. 9295(20% OFF)',
 'Rs. 6990',
 'Rs. 8792Rs. 10990(20% OFF)',
 'Rs. 7490',
 'Rs. 11999',
 'Rs. 7499Rs. 9999(25% OFF)',
 'Rs. 8295',
 'Rs. 9999',
 'Rs. 8990',
 'Rs. 8990',
 'Rs. 6990',
 'Rs. 6999Rs. 13999(50% OFF)',
 'Rs. 7999Rs. 15999(50% OFF)',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 11199Rs. 13999(20% OFF)',
 'Rs. 9999',
 'Rs. 6749Rs. 8999(25% OFF)',
 'Rs. 8295',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 7400Rs. 14800(50% OFF)',
 'Rs. 7999',
 'Rs. 6999Rs. 9999(30% OFF)',
 'Rs. 8999',
 'Rs. 7595Rs. 10850(30% OFF)',
 'Rs. 11249Rs. 14999(25% OFF)',
 'Rs. 9999',
 'Rs. 9793Rs. 13990(30% OFF)',
 'Rs. 9199Rs. 11499(20% OFF)',
 'Rs. 6990',
 'Rs. 7495',
 'Rs. 6993Rs. 9990(30% OFF)',
 'Rs. 7995',
 'Rs. 11495',
 'Rs. 11495',
 'Rs. 7499Rs. 14999(50% OFF)',
 'Rs. 7999Rs. 15999(50% OFF)',
 'Rs. 10999',
 'Rs. 8999',
 'Rs. 9999',
 'Rs. 7124Rs. 9499(25% OFF)',
 'Rs. 6749Rs. 8999(25% OFF)',
 'Rs. 6999',
 'Rs. 10121Rs. 13495(25% OFF)',
 'Rs. 7499Rs. 9999(25% OFF)',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 7050Rs. 8295(15% OFF)',
 'Rs. 7497Rs. 14995(50% OFF)',
 'Rs. 6999',
 'Rs. 6749Rs. 8999(25% OFF)',
 'Rs. 7499Rs. 14999(50% OFF)',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 8999',
 'Rs. 12999',
 'Rs. 8999Rs. 11999(25% OFF)',
 'Rs. 9599Rs. 11999(20% OFF)',
 'Rs. 6990',
 'Rs. 8999',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 6990',
 'Rs. 7693Rs. 10990(30% OFF)',
 'Rs. 7499Rs. 9999(25% OFF)',
 'Rs. 6999Rs. 13999(50% OFF)',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 6999',
 'Rs. 9999']

In [112]:
# Creating datab frame
shoes=pd.DataFrame({})
shoes['Brands']=brands
shoes['Short Description']=desc
shoes['Price']=price
shoes

,Brands,Short Description,Price
0,J.FONTINI,Men Colourblocked Driving Shoes,Rs. 9999
1,Hush Puppies,Men Leather Slip-On Sneakers,Rs. 8195
2,Hush Puppies,Men DBREAK-TYPE Sneakers,Rs. 7195Rs. 7995(10% OFF)
3,Nike,Men ZOOM WINFLO 6 Running,Rs. 9995
4,Nike,Men AIR ZOOM PEGASUS 38 Run,Rs. 8990
...,...,...,...
95,ALDO,Unisex RS-Fast Sneakers,Rs. 6999Rs. 13999(50% OFF)
96,CAT,Men Woven Design Sneakers,Rs. 8999Rs. 9999(10% OFF)
97,ADIDAS Originals,Men Superstar Sneakers,Rs. 7199Rs. 8999(20% OFF)
98,Hush Puppies,Men Leather Slip-On Sneakers,Rs. 6999
99,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 9999

Shoes data.

# @10) Go to webpage https://www.amazon.in/
 Enter “Laptop” in the search field and then click the search icon.
 Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes 
for each laptop:
1. title
2. Ratings
3. Price

In [9]:
url='https://www.amazon.in/'
driver.get(url)

In [10]:
# Creating empty ist
item_title=[]
price=[]
rating=[]

In [16]:
# searching the laptops
Lappy=driver.find_element_by_xpath('//input[@id="twotabsearchtextbox"]')
Lappy.send_keys('Laptops')

In [17]:
# Clicking on search button
button=driver.find_element_by_xpath('//input[@type="submit"]')
button.click()

In [22]:
#Let's apply filter for "Intel Core i7"
driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a').click()

In [23]:
#Let's apply filter for "Intel Core i9" 
driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/16757432031"]/span/a').click()

In [24]:
# extracting titles
titles=driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in titles:
    item_title.append(i.text)
item_title

['Lenovo Yoga Slim 7 10th Gen Intel Core i7 14 inch Full HD IPS Thin and Light Laptop (8GB/512GB SSD/Windows 10/MS Office 2019/NVIDIA MX350 2GB GDDR5 Graphics/Slate Grey/1.55Kg), 82A1009KIN',
 'Lenovo Yoga 7 11th Gen Intel Core i7 14" (35.56cms) Full HD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Windows 10/MS Office 2019/Fingerprint Reader/Slate Grey/Aluminium Surface/1.43Kg), 82BH004HIN',
 'Lenovo Ideapad 5 Intel i7 11th Gen 15.6" Thin and Light (16GB/512SSD/Win10 +Office Home/Intel Iris Xe Graphics/Graphite Grey/1.66kg), 82FG0117IN',
 'HP Pavilion x360 (2021) 14" (35.56cms) FHD Touchscreen Laptop, 11th Gen Core i7, 8 GB RAM, 512GB SSD, 2-in-1 Convertible, Windows 10, MS Office, Finger Print Reader (14-dw1040TU)',
 'ASUS VivoBook S S14 Intel Core i7-1165G7 11th Gen, 14-inch FHD Thin and Light Laptop (8GB RAM/512GB SSD + 32GB Optane Memory/Windows 10/Office 2019/Iris X Graphics- Indie Black/1.4 Kg), S433EA-AM701TS',
 'Lenovo ThinkPad E15 (2021) Intel Core i7 11th Gen 15.6" FHD Thin and Light Laptop (16GB RAM/512GB SSD/Windows 10/MS Office/Fingerprint Reader/Black/Aluminium Surface/ 1.7 kg), 20TDS0G100',
 'HP Pavilion (2021) Thin & Light 11th Gen Core i7 Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, 14" (35.56cms) FHD Screen, Windows 10, MS Office, Backlit Keyboard (14-dv0058TU)',
 'HP Pavilion Gaming 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/Windows 10/NVIDIA 1650Ti 4GB/Shadow Black), 15-dk1509TX',
 'Acer Predator Helios 300 Core i7 10th Generation (16 GB/1 TB SSD/Windows 10 Home/6 GB Graphics/NVIDIA GeForce RTX 3060/144 Hz) PH315-53 Gaming Laptop (15.6" (39.62cms), Abyssal Black, 2.5 kg)',
 '(Renewed) Dell G7 7500 15.6inch FHD 300 Hz Display Gaming Laptop (10th Gen i9-10885H / 16 GB / 1TB SSD / NVIDIA RTX 2070 8GB Graphics / 1Yr Premium Warranty / Win 10 + MS Office H&S 2019) D560233WIN9B, Black',
 'Life Digital Laptop 15.6-inch (39.62 cms) (Intel Core i7, 4GB RAM, 256GB SSD, Windows 10), ZED AIR CX7',
 'Lenovo IdeaPad Gaming 3 10th Gen Intel Core i7 15.6-inch FHD IPS Gaming Laptop (8GB/1TB HDD + 256 GB SSD/Windows 10/NVIDIA GTX 1650 4GB GDDR6/with M100 RGB Gaming Mouse/Onyx Black/2.2Kg), 81Y400VAIN',
 'Dell XPS 9310 13.4" OLED Display 3.5K Touch Laptop (i7-1185G7/ 16GB / 1TB SSD / Integrated Graphics / 1Yr Premium Plus Warranty / Win 10 + MSO / Backlit KB + FPR / Silver) D560048WIN9S',
 'Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 'Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 'MSI GS66 Stealth, Intel 10th Gen. i7-10875H, 15.6" (39.62cms) FHD Gaming Laptop (16GB*2/1TB NVMe SSD/Windows 10 Home/Nvidia RTX 2070 Super Max-Q/ Black/2.1Kg), 10SFS-488IN',
 'Lenovo Yoga 7 11th Gen Intel Core i7 14" (35.56cms) Full HD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Windows 10/MS Office 2019/Fingerprint Reader/Slate Grey/Aluminium Surface/1.43Kg), 82BH004HIN',
 'MSI GF65 Thin, Intel i7-10750H, 15.6" FHD (39.6 cm) IPS-Level 144Hz Panel Laptop (16GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX1660 Ti 6GB GDDR6/Black/1.86Kg), 10SDR-1280IN',
 'Lenovo Yoga Slim 7i 11th Gen Intel Core i7 14" FHD IPS Thin and Light Laptop (16GB/1TB SSD/Win 10/Office/Intel Iris Xe Graphics/Fingerprint/HD IR Camera/Aluminium Surface/Slate Grey/1.36Kg) 82A3009QIN',
 '(Renewed) Lenovo T430 14-inch Laptop (Core i7/ 8GB RAM(Upgradable to 16)/512GB SSD/Windows 10 Pro/MS Office 2019, Intel Integrated Graphics, PAN INDIA WARRANTY) Black',
 'Lenovo Ideapad 5 i7 15.6" Thin and Light Laptop (16GB/512SSD/Win10 + MSO/Intel Iris Xe Graphics/Graphite Grey/1.66kg), 82FG0117IN + Lenovo 110 Stereo USB-A Headset',
 'Dell G3 3500 Gaming Laptop 15.6" (39.62cms) FHD 120 Hz (10th Gen Core i7-10750H/8GB/512GB SSD/Windows 10 Home Plus & MS Office/NVIDIA1650 Ti Graphics/Eclipse Black) D560260WIN9BE',
 'ASUS ZenBook Pro Duo 15 OLED (2021), Intel Core i7-10870H 11th Gen, 15.6" 4K Dual-Screen Touch Laptop (32GB/1TB SSD/8GB GeForce RTX 3070/Office 2019/Windows 10/Celestial Blue/2.34 Kg), UX582LR-H701TS',
 'ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11th Gen 14" (35.56cms) FHD T&L Laptop (16GB RAM/512GB NVMe SSD/Windows 10/MS Office 2019/Intel Iris Xáµ‰ Graphics/Pine Grey/1.17 kg), UX425EA-BM701TS',
 'HP Omen 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (i7-10750H/16GB/1TB SSD/Windows 10/300 Nits/144 Hz/NVIDIA GTX 1660ti 6GB/Shadow Black/2.36 kg), 15-ek0020TX',
 '(Renewed) Lenovo T430 14-inch Laptop (Core i7/ 8GB RAM (Upgradable to 16)/500GB HDD/Windows 10 Pro/MS Office 2019, Intel Integrated Graphics, PAN INDIA WARRANTY) Black',
 'Lenovo Legion 5 10th Gen Intel Core i7 15.6 inch Full HD IPS Gaming Laptop (16GB/1TB HDD + 256GB SSD/Windows 10/120 Hz/NVIDIA GTX 1650 4GB GDDR6 Graphics/Phantom Black/2.3Kg), 82AU00KKIN',
 'HP Envy x360 Convertible Touchscreen 13.3-inch FHD Laptop (11th Gen Intel Core i7-1165G7/16GB/512GB SSD/Win 10 Home/Alexa Built-in/Pale Gold/1.32kg), 13-bd0063TU',
 'ASUS ZenBook Flip S OLED, Intel Evo Core i7-1165G7 11th Gen, 13.3-inch UHD Touch Thin and Light 2-in-1 Laptop (16GB/1TB SSD/Windows 10/Office 2019/Iris X Graphics/Jade Black/1.2 kg), UX371EA-HL701TS',
 'Asus zenbook 3 Deluxe UX490UA-BE045T']

In [26]:
# Extracting Price
prices=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
for i in prices:
    price.append(i.text)
    
        
        
price

['83,990',
 '97,990',
 '76,990',
 '78,990',
 '77,175',
 '90,990',
 '84,990',
 '86,990',
 '1,29,990',
 '1,70,587',
 '26,990',
 '77,990',
 '1,89,990',
 '54,999',
 '54,999',
 '2,56,072',
 '97,990',
 '90,733',
 '99,990',
 '51,999',
 '79,789',
 '86,290',
 '2,39,990',
 '99,990',
 '1,29,500',
 '50,499',
 '1,02,990',
 '1,45,490',
 '98,990']

In [28]:
# Extracting rating
ratings=driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]/span[1]')
for i in ratings:
    rating.append(i.get_attribute('aria-label'))
rating

['3.2 out of 5 stars',
 '4.2 out of 5 stars',
 '5.0 out of 5 stars',
 '3.8 out of 5 stars',
 '4.3 out of 5 stars',
 '4.5 out of 5 stars',
 '4.1 out of 5 stars',
 '3.0 out of 5 stars',
 '3.1 out of 5 stars',
 '4.3 out of 5 stars',
 '4.4 out of 5 stars',
 '4.4 out of 5 stars',
 '3.0 out of 5 stars',
 '4.2 out of 5 stars',
 '5.0 out of 5 stars',
 '4.1 out of 5 stars',
 '4.4 out of 5 stars',
 '3.1 out of 5 stars',
 '4.4 out of 5 stars',
 '4.5 out of 5 stars',
 '4.6 out of 5 stars',
 '3.3 out of 5 stars']

In [31]:
# Creating DataFrame
Laptops=pd.DataFrame({})
Laptops['TITLE']=item_title[:10]
Laptops['PRICE']=price[:10]
Laptops['Rating']=rating[:10]

In [32]:
Laptops

,TITLE,PRICE,Rating
0,Lenovo Yoga Slim 7 10th Gen Intel Core i7 14 i...,"83,990",3.2 out of 5 stars
1,"Lenovo Yoga 7 11th Gen Intel Core i7 14"" (35.5...","97,990",4.2 out of 5 stars
2,"Lenovo Ideapad 5 Intel i7 11th Gen 15.6"" Thin ...","76,990",5.0 out of 5 stars
3,"HP Pavilion x360 (2021) 14"" (35.56cms) FHD Tou...","78,990",3.8 out of 5 stars
4,ASUS VivoBook S S14 Intel Core i7-1165G7 11th ...,"77,175",4.3 out of 5 stars
5,Lenovo ThinkPad E15 (2021) Intel Core i7 11th ...,"90,990",4.5 out of 5 stars
6,HP Pavilion (2021) Thin & Light 11th Gen Core ...,"84,990",4.1 out of 5 stars
7,HP Pavilion Gaming 10th Gen Intel Core i7 Proc...,"86,990",3.0 out of 5 stars
8,Acer Predator Helios 300 Core i7 10th Generati...,"1,29,990",3.1 out of 5 stars
9,(Renewed) Dell G7 7500 15.6inch FHD 300 Hz Dis...,"1,70,587",4.3 out of 5 stars